<div style="cursor:auto;" class="badge-card-container" *ngIf="friends && friends.length < 1;">

  <div class="friends-card disabled" *ngFor="let friend of placeholderFriends; let i = index">
    <div class="friends-card-top" [ngClass]="{'bg-sky-1': i % 4 === 0, 'bg-sky-2': i % 4 === 1, 'bg-sky-3': i % 4 === 2, 'bg-sky-4': i % 4 === 3}">
      <img class="friendsProfilePic" [src]="friend.path" />
    </div>
    <div class="friends-card-bottom">
      <div class="friends-card-name">{{friend.firstName}}&nbsp;{{friend.lastName}}</div>
      <button class="use disabled"><span>Select</span></button>
    </div>
  </div>
</div>
<div class="badge-card-container" *ngIf="friends && friends.length > 0;">
  <div class="friends-card" *ngFor="let friend of friends; let i = index">
    <div class="friends-card-top" [ngClass]="{'bg-sky-1': i % 4 === 0, 'bg-sky-2': i % 4 === 1, 'bg-sky-3': i % 4 === 2, 'bg-sky-4': i % 4 === 3, 'friends-card-top-noprofile': !friend.profilePhoto}">
      <img *ngIf="friend.profilePhoto" class="friendsProfilePic" [src]="friend.profilePhoto" />
    </div>
    <div class="friends-card-bottom" [ngClass]="{'no-profile': !friend.profilePhoto}">
      <div class="friends-card-name">{{friend.firstName}}&nbsp;{{friend.lastName}}</div>
    </div>
  </div>
</div>
<ng-template #loading>Loading</ng-template>
