<div class="component-container" [formGroup]="parentForm">
  <svg-icon fill="#6e6f71" width="33" height="37" icon="icon-Recurence"></svg-icon>
  <mat-form-field>
    <mat-select placeholder="Recurrence" [formControlName]="'recurrence'" class="component-select">
      <mat-option *ngFor="let recurrence of recurrences" [value]="recurrence">{{recurrence}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
