.component-container{
  display: flex;
  flex-direction: row;
}

.component-container svg-icon {
  top: 8px;
  position:relative;
  margin-right: 20px;
}

.component-text {
  position: relative;
  top: 20px;
  margin: 0 0 0 20px;
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
}
.error{
  background-color: #f27360;
}
.error-text{
  color: #f27360;
}
