<div class="component-container" [formGroup]="parentForm">
  <svg-icon width="33" height="37" icon="icon-dayIcon"></svg-icon>
  <mat-form-field>
    <!--<mat-select placeholder="Time Frame" [formControlName]="'timeFrame'">
      <mat-option *ngFor="let timeFrame of timeFrames" [value]="timeFrame">{{timeFrame}}</mat-option>
    </mat-select>-->
    <input type="number" min="0" max="3" pattern="[0-9]*" matInput placeholder="TimeFrame" formControlName="timeFrame" />
  </mat-form-field>
  <div class="component-text">Days</div>
</div>



<mat-error *ngIf="parentForm.get('timeFrame').errors && parentForm.get('timeFrame').errors['max']">
  Time Frame cannot be more than 360.
</mat-error>
