<!--<h1 mat-dialog-title>Create New Badge&nbsp; <img style="position:relative; top:6px;" class="Badge-Upload-Icon" src="/assets/icons/uploadBadge.png"></h1>
<div mat-dialog-content>
  <form  [hidden]="!!image" enctype="multipart/form-data" method="post">
    <div [hidden]="loading">
      <p>Recommended size: 180 width x 115 height</p>
      <label for="picked">Choose jpg or png to upload</label>
      <div>
        <input type="file" id="picked" #picked
               (click)="message=''"
               (change)="onPicked(picked)">
      </div>

    </div>
    <div [hidden]="!loading" class="loadingGif"></div>
  </form>



  <div [hidden]="!image" class="badge-upload">
    <div class="flex-grid-main">
      <div class="col-three-fourth">
        <div class="badge-bg">
          <img class="badge-img" [src]="image" />
        </div>
      </div>
      <div class="col-fourth">
        <div class="badge-card-container">
          <div class="Badge-Background" style="background-color: #9fc2bb"></div>
          <div class="badge-form">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <badge-form [parentForm]="form"></badge-form>

              <button style="display: none" mat-raised-button color="primary" type="submit">Register</button>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <div [hidden]="!image">
    <div  class="Rounded-Rectangle-Button" (click)="onSubmit()">
      <span class="Login">Create Badge</span>
      <span style="flex: 1 1 auto"></span>
      <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x" class="Arrow2" />
    </div>
  </div>
</div>
-->
