<div class="grid-container">
  <div class="main">
    <ul class="list-filter">
      <li><a href="#">All</a></li>
      <li><a href="#">Date</a></li>
      <li><a href="#">Name</a></li>
      <li><a href="#">Members</a></li>
      <li><a href="#">My Events</a></li>
      <li><a href="#">Active</a></li>
      <li><a href="#">Inactive</a></li>
      <li class="search">
        <div class="normal-search">
            <div class="input-container">
                <input [(ngModel)]="searchText" (ngModelChange)="searchHandler($event)" class="input-field"
                  placeholder="Search" />
                <i class="fas fa-search icon-search"></i>
                <svg-icon width="15" height="15" fill="grey" icon="icon-search" class="icon-search"></svg-icon>
                <div class="advanced-search-button">
                  <!-- <button class="advanced-search" type="button" (click)="advancedSearchVisible=!advancedSearchVisible"  aria-label="Advanced Search!"> -->
                  <svg-icon type="button" (click)="advancedSearchVisible=!advancedSearchVisible" width="25" height="25"
                    fill="grey" icon="icon-dayIcon" class="icon-dayIcon"></svg-icon>
                  <!-- </button> -->
                </div>
              </div>
        </div>
        
        <div class="advanced-seach">
          <div class="advanced-search-input" [@openClose]="advancedSearchVisible ? 'open' : 'closed'">
            <input [(ngModel)]="searchByDateFrom" [matDatepicker]="pickerFrom" (ngModelChange)="searchDateFrom($event)"
              class="input-field input-field-advanced" placeholder="Date From" />
            <mat-datepicker-toggle *ngIf="advancedSearchVisible" matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </div>
          <!-- <div>
                  <input [(ngModel)]="searchByDateTo" [matDatepicker]="pickerTo" (ngModelChange)="setDateTo($event)" class="input-field"
                    placeholder="Date To" />
                  <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                  <mat-datepicker #pickerTo></mat-datepicker>
                </div> -->
        </div>


      </li>
      <li class="search-adv">


      </li>
      <li>
        <div class="Create-Event-Button" (click)="createAndEdit()">
          <span class="text">Create Event</span>
          <span style="flex: 1 1 auto"></span>
          <svg-icon width="17" height="17" icon="icon-CreateEventIcon" class="Event-Create-Icon"></svg-icon>
        </div>
      </li>
    </ul>
    <!-- insert event component here -->
    <event [events$]="events$"></event>
  </div>
  <!--<div class="right">
    <comments>Notifications</comments>
  </div>-->
</div>
