<form [formGroup]="formGroup" >

  <app-company-field [formGroup]="formGroup" (selectedOrgId)="selectedOrgId.emit($event)" ></app-company-field>
 
  <mat-form-field>
    <input class="auth-square-input" [ngClass]="{'error': isValid('firstName')}" matInput placeholder="First Name"
      formControlName="firstName" />
  </mat-form-field>
  <mat-error *ngIf="formGroup.get('firstName').hasError('hasProfanity')">
    <p>* First Name must not contain profanity</p>
  </mat-error>

  <mat-form-field>
    <input class="auth-square-input" [ngClass]="{'error': isValid('lastName')}" matInput placeholder="Last Name"
      formControlName="lastName" />
  </mat-form-field>
  <mat-error *ngIf="formGroup.get('lastName').hasError('hasProfanity')">
    <p>* Last Name must not contain profanity</p>
  </mat-error>
  <div>
    <mat-form-field>
      <input class="auth-square-input" [ngClass]="{'error': isValid('email')}" matInput placeholder="Company Email"
        type="email" formControlName="email" />
    </mat-form-field>
  </div>
  <mat-error *ngIf="formGroup.get('email').hasError('hasProfanity')">
    <p>* Email must not contain profanity</p>
  </mat-error>
  <mat-error *ngIf="formGroup.get('email').hasError('notCompanyEmail')">
    <p>* Please use a company email.</p>
  </mat-error>
  <div>
    <mat-form-field>
      <input class="auth-square-input" [ngClass]="{'error': isValid('password')}" matInput placeholder="Password"
        type="password" formControlName="password" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input class="auth-square-input" [ngClass]="{'error': isValid('confirmPassword')}" matInput
        placeholder="Confirm Password" type="password" formControlName="confirmPassword" />
    </mat-form-field>

    <mat-error *ngIf="formGroup.errors?.mismatchedFields">Passwords do not match</mat-error>
  </div>

  <re-captcha formControlName="recaptchaReactive"  (resolved)="resolved.emit($event)" ></re-captcha>

  <!-- <button style="display: none" mat-raised-button color="primary" type="submit">Register</button>  -->

</form>