<h1 mat-dialog-title>Company Registration</h1>
<div mat-dialog-content>
  <p>Hey Don’t worry, we are adding new companies all the
    time. Help us get them setup with the following info.</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class='companyReg'>
      <input class="auth-square-input" [ngClass]="{'error': isValid('orgName')}" matInput
        placeholder="Organization Name" formControlName="orgName" />
    </mat-form-field>
    <mat-error *ngIf="form.get('orgName').hasError('hasProfanity')">
      <p>* Organization Name must not contain profanity</p>
    </mat-error>

    <mat-form-field class='companyReg'>
      <input class="auth-square-input" [ngClass]="{'error': isValid('officeAddress')}" matInput
        placeholder="Office Address" formControlName="officeAddress" />
    </mat-form-field>
    <mat-error *ngIf="form.get('officeAddress').hasError('hasProfanity')">
      <p>* Office Address must not contain profanity</p>
    </mat-error>

    <mat-form-field class='companyReg' >
      <input [ngClass]="{'error': isValid('dateEstablished')}" matInput [matDatepicker]="picker"
        formControlName="dateEstablished" placeholder="Date Established">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  

    <mat-form-field class='companyReg'>
      <textarea class="auth-square-input" [ngClass]="{'error': isValid('description')}" matInput
        placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
    <mat-error *ngIf="form.get('description').hasError('hasProfanity')">
      <p>* Description must not contain profanity</p>
    </mat-error>

    <mat-form-field class='companyReg'>
      <input class="auth-square-input" [ngClass]="{'error': isValid('website')}" matInput placeholder="Website"
        formControlName="website" />
    </mat-form-field>
    <mat-error *ngIf="form.get('website').hasError('hasProfanity')">
      <p>* Website must not contain profanity</p>
    </mat-error>

    <mat-form-field class='companyReg'>
      <input class="auth-square-input" [ngClass]="{'error': isValid('submittedBy')}" matInput placeholder="Submitted By"
        formControlName="submittedBy" />
    </mat-form-field>
    <mat-error *ngIf="form.get('submittedBy').hasError('hasProfanity')">
      <p>* Name must not contain profanity</p>
    </mat-error>

    <mat-form-field class='companyReg'>
      <input class="auth-square-input" [ngClass]="{'error': isValid('position')}" matInput
        placeholder="Company Position" formControlName="position" />
    </mat-form-field>
    <mat-error *ngIf="form.get('position').hasError('hasProfanity')">
      <p>* Position must not contain profanity</p>
    </mat-error>
    
    <mat-form-field class='companyReg'>
      <input class="auth-square-input" matInput [ngClass]="{'error': isValid('email')}"  placeholder="Email"
        formControlName="email" />
    </mat-form-field>
    <mat-error *ngIf="form.get('email').hasError('hasProfanity')">
      <p>* Email must not contain profanity</p>
    </mat-error>
    
    <re-captcha formControlName="recaptchaReactive"  (resolved)="resolved($event)" ></re-captcha>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Submit for Review</button>
</div>
