<div class="accept-container">
  <app-button [ngClass]="{'accept-selected': participant.accepted}" size="small" class="accept-button-2" (onClick)="going()" icon="icon-done">
    <span *ngIf="participant.participant">I am going</span>
    <span *ngIf="participant.promoter">I am all in!</span>
  </app-button>
  <app-button [ngClass]="{'decline-selected': !participant.accepted}" size="small" (onClick)="notGoing()" icon="icon-ExitIcon">
    <span *ngIf="participant.participant">Can't Make it</span>
    <span *ngIf="participant.promoter">I'm too busy</span>
  </app-button>
</div>
