.accept-container{
  display:flex;
}
.accept-button-2{
  margin-right: 5px;
}
::ng-deep .accept-selected button{
  border: green solid 2px !important;
}

::ng-deep .accept-selected button span{
  color: green !important;
}

::ng-deep .decline-selected button{
  border: red solid 1px !important;
}
::ng-deep .decline-selected button span{
  color: red !important;
}

::ng-deep app-button.decline-selected svg{
  fill:red !important;
}

::ng-deep app-button.decline-selected svg{
  fill:red !important;
}
