<div class="dropdown-content" [ngClass]="{'dropdown-content-active': dropdown }">
  <div class="dropdown-content-inner">
    <mat-card-content>
      <!--  <input matInput type="text" placeholder="Add Email" [(ngModel)]="email">
    <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="addEmail()">
        <i class="fas fa-plus-circle"></i>
    </button> -->


      <app-profile-upload></app-profile-upload>

      <mat-list>
        <mat-list-item (click)="updateNameToggle=!updateNameToggle" class="profile-edit-name-component">
          <svg-icon fill="#6e6f71" width="20" height="20" icon="icon-EmployeeCard"></svg-icon>
          <span class="profile-dropdown"><strong>{{displayName}}</strong></span>


          <button class="editProfile" mat-button type="button" matSuffix
            mat-icon-button aria-label="Edit Profile">
            <!--<img src="assets/img/edit-icon.png" srcset="assets/img/edit-icon@2x.png 2x,
          assets/img/edit-icon@3x.png 3x"
            class="EditIcon">-->
            <svg-icon fill="#6e6f71" width="20" height="20" icon="icon-EditIcon"></svg-icon>
          </button>
        </mat-list-item>

        <div>
          <mat-list *ngIf="updateNameToggle">
            <app-update-name [user]="user" (updatedName)="getUpdatedName($event)"></app-update-name>
          </mat-list>
        </div>


        <mat-list class="add-remove-email">
          <mat-list-item class="add-sub-account" (click)="showSubAccountForm = !showSubAccountForm">
            <svg-icon fill="#6e6f71" width="20" height="20" icon="icon-Envelope"></svg-icon>
            <mat-card-subtitle class="profile-dropdown">Add Sub Account</mat-card-subtitle>
          </mat-list-item>

          <mat-list-item class="emailSection" *ngIf="showSubAccountForm">
            <form [formGroup]="emailForm" (ngSubmit)="onSubmit(emailForm,formDirective)" #formDirective="ngForm"
                  class="profile-dropdown">
              <mat-form-field class="profile-dropdown">

                <input matInput placeholder="Add Email" formControlName="email" />
              </mat-form-field>


              <button mat-button *ngIf="emailForm.value.email"
                      [disabled]="(emailForm.invalid && emailForm.value.email)|| (showCompanyField && !selectedOrgId && (emailForm.value.orgName!==''))"
                      type="submit" matSuffix mat-icon-button aria-label="Add">
                <svg-icon fill="#6e6f71" width="20" height="20" icon="icon-ADDCircle"></svg-icon>
              </button>

              <app-company-field *ngIf="showCompanyField" [formGroup]="emailForm" (selectedOrgId)="setOrgId($event)">
              </app-company-field>

            </form>
          </mat-list-item>
          <div *ngIf="(isCompanyEmail && !showCompanyField) " class="add-org-subaccount">
          <span (click)="toggleCompanyField()" class="org-button">Would you like to be connected to an org?
            Click here</span>
            <!--  <button type="button" (click)="toggleCompanyField()"></button> -->
          </div>
        </mat-list>

          <mat-list-item *ngFor="let email of emails ; let i = index">
            <span class="subaccount-email">{{email}}</span> <span class=" status {{subAccounts[email].status}}">
            {{subAccounts[email].status}}</span>
            <button type="button" mat-button type="button" matSuffix mat-icon-button
                    (click)="removeEmailHandler(email,subAccounts[email]._id)" class="removeEmail" aria-label="Remove">
              <!--<i class=" fas fa-times-circle"></i>-->
              <svg-icon fill="#6e6f71" width="20" height="20" icon="icon-RemoveIcon"></svg-icon>
            </button> </mat-list-item>

        </mat-list>



      <mat-list>

        <app-update-password></app-update-password>

      </mat-list>
      <mat-list>
        <app-vanity-links></app-vanity-links>
      </mat-list>
      <div class="spacing">

      </div>
    </mat-card-content>

  </div>
</div>
