
span.subaccount-email {
  width: 65%;
  word-break: break-word;
  margin-right: 5px;
}

span.status {
  width: 20%;
}
span.org-button {
  margin-left: 10px;
  color: #048e74;
  cursor: pointer;
}
mat-list.add-remove-email.mat-list.mat-list-base {
  margin-top: 5px;
}

.add-sub-account {
  cursor:pointer;
}

.add-sub-account:hover, .add-sub-account:hover .profile-dropdown{
  text-decoration: underline black solid;
  color:black;
  fill:black;
}

app-company-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.logo img{
  max-width: 45%!important;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;

}

.dropdown-content-inner {
  position: relative;
  left: -50%;
  background-color: #FFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1000;
  width: 390px;
  border-radius: 10px;
  border: 1px grey solid;
}

.spacing {
  height: 50px;
}

.dropdown-content-active {
  display: block;
}

.UserInfo-copy {
  width: 30px;
  height: 25px;
  margin-right: 15px;
  object-fit: contain;
}

button img.EditIcon {
  width: 25px;
  text-align: right;
  height: 20px;
  -o-object-fit: contain;
  object-fit: contain;
}

.cdk-overlay-container {
  z-index: 99999;
}

button.mat-button.mat-icon-button.editProfile {
  position: inherit !important;
  right: 0px !important;
  line-height: 0px;
}

mat-list-item.emailSection.mat-list-item {
  margin-top: 5px;
}

button.mat-button.mat-icon-button.removeEmail {
  position: absolute !important;
  right: 0px;

}

i.fontawesomeIcon {
  margin-right: 10px;
}

mat-form-field.change-password {
  width: 100%;
}

.Profile-Dropdown.Rounded-Rectangle-Button {
  margin: 0 0 0 auto;
  width: 180px;
}

mat-card-subtitle.profile-dropdown,
span.profile-dropdown {
  margin-bottom: 0px !important;
  margin-left: 10px;
}

span.pending {
  color: red;
}

span.active {
  color: green;
}



form.profile-dropdown {
  width: 100%;
}

mat-form-field.profile-dropdown.mat-form-field {
  width: 88%;
}

.dropdown.ng-star-inserted {
  text-align: center;
}

.cdk-overlay-container {
  z-index: 99999 !important;
}

button.removeEmail.mat-button.mat-icon-button {
  width: 30px;
  height: 30px;
}

a {
  word-wrap: break-word;
}

.add-org-subaccount {
  margin-left: 10px;
}

.add-org-subaccount button {
  cursor: pointer;
  padding: 10px;
  font-size: 12px;
  color: green;
}


.profile-edit-name-component{
  cursor:pointer;

}

.profile-edit-name-component:hover {
  text-decoration: underline black solid;
  color:black;
  fill:black;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  .dropdown-content-inner {
    width: 82%;
  }

  .dropdown-content {
    left: 55%;
  }
  mat-form-field.profile-dropdown.mat-form-field {
    width: 80%;
  }

}
