
<!--[rzAspectRatio]="aspectRatio" feature has a bug -->
<div class="iframe-resize-container"
     ngResizable
     [rzAspectRatio]="true"
     rzContainment="#container"
     rzHandles="n,s,e,w,se,sw"
     ngDraggable
     [zIndex]="1"
     [position]="position"
     [bounds]="dragBounds"
     [inBounds]="true"
     [preventDefaultEvent]="true"
     (rzStop)="onResizeStop($event)"
     (rzStart)="onResizeStart($event)"
     (movingOffset)="onMoving($event)"
     (started)="onDragBegin($event)"
     (stopped)="onDragEnd($event)"
>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 864 864" style="enable-background:new 0 0 864 864;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;}
  .st1{fill:#6E6F71;}
</style>
<g>
	<path class="st0" d="M243.7,47.5c-20.3,0.1-29.2,9.1-34.8,22.2c-3.5,8.3-5.9,17.1-10,25c-6.9,13.7-18.6,22.1-33.7,24.7
		c-9.5,1.6-19.3,1.9-28.9,3.2c-12,1.6-23.2,11.6-25.3,23.4c-1.6,8.9-1.7,18-2.2,27.1c-0.8,15.9-6.9,29.3-20.1,38.1
		c-8.5,5.6-18.5,9-27.8,13.3c-11.8,5.5-22,15.6-20.9,30.1c0.6,8.4,3.3,16.6,5.5,24.8c4,14.7,4.1,29-3.6,42.7
		c-5.6,10-14.8,16.2-23.1,23.4C5.1,357.2-0.5,370.9,8,387.4c4.2,8.1,10.1,15.4,14.7,23.3c7.8,13.3,9.9,27.6,3.8,42
		c-3.9,9.1-9.8,17.4-14.6,26.2c-7.4,13.7-7.6,27.7,4.8,39.6c5.7,5.5,12,10.3,18.2,15.2c12.6,9.9,19.8,22.9,19.4,38.6
		c-0.3,11.1-3.9,22.2-6.1,33.2c-2.3,11.4,2.5,25.5,12.3,32.4c8.2,5.7,17.7,7.6,26.6,11.2c17.8,7.2,29.4,19.6,32.5,38.8
		c1.5,9.1,1.8,18.3,3.1,27.4c1.7,12.4,11.5,23.4,23.6,25.6c8.4,1.5,17,1.8,25.6,2.1c20.2,0.7,35.1,9.9,44.4,27.7
		c4.2,8.1,7,16.9,11.3,25c5.8,11,15.3,17,27.8,16.2c7.1-0.5,14.2-2.4,21-4.6c10.5-3.4,21.2-4.9,31.9-2.7c14.3,3,24.7,12.1,33.5,23.6
		c4.4,5.8,10.1,10.9,15.9,15.2c5,3.7,11.2,4.9,17.7,4.1c10.6-1.4,18.9-7.1,27.1-13.2c15.2-11.3,32-16.4,50.3-8.8
		c9.1,3.8,17.3,9.9,26.1,14.6c7,3.7,14.4,5.9,22.7,4.3c11.4-2.1,18.1-10,24.9-18.3c5.4-6.6,10.8-13.4,17.2-18.9
		c9.6-8.2,21.6-11.4,34.1-9.8c9.5,1.3,18.7,4.6,28.2,6.2c11,2,24.4-2.2,31.5-12.2c6-8.3,7.8-18,11.4-27c6-14.8,15.4-26.3,31.4-30.3
		c9.1-2.3,18.7-3.3,28.2-4c14.6-1,30.1-9.7,32.4-25.9c1.2-8.3,1.6-16.7,2-25.1c1-19.5,9.5-34.2,26.9-43.3
		c8.4-4.4,17.5-7.4,25.9-11.8c10.7-5.7,16.9-15.1,16-27.4c-0.6-7.9-2.7-15.8-5-23.5c-4.6-15-4.9-29.5,3.1-43.6
		c5.5-9.6,13.9-16,22.4-22.6c13.4-10.5,20.6-26.6,11.1-43.4c-4-7.1-9.2-13.6-13.4-20.7c-6.2-10.7-9.4-22-7.3-34.8
		c2-11.5,7.9-20.7,14-30c4.5-6.8,7.9-14.1,8.2-22.3c0.3-12.9-7.5-21.3-16.6-29c-7.1-6-14.8-11.6-20.9-18.6
		c-8.5-9.6-11.8-21.7-10-34.4c1.4-9.5,4.6-18.7,6.3-28.2c1.9-11.1-1.6-25.3-12.5-31.2c-8.6-4.6-17.8-7.9-26.9-11.7
		c-13.6-5.7-24-14.5-29.7-28.6c-4-9.9-4-20.3-4.5-30.5c-0.8-14.8-9.7-30.7-26-32.9c-8.3-1.1-16.7-1.6-25.1-2
		c-19.5-0.8-34.1-9.6-43.2-26.9c-4.4-8.4-7.4-17.5-11.8-25.9c-5.7-10.7-15-16.8-27.4-16.1c-7.1,0.4-14.2,2.3-21.1,4.4
		c-10.7,3.3-21.3,5.2-32.3,2.9c-14.3-3-24.2-12.4-33.2-23.3c-4.6-5.6-10-10.9-15.8-15.3c-5.2-4-11.7-5-18.6-4.2
		c-10.4,1.3-18.3,6.9-26.2,12.8C434,28.7,417,33.8,398.4,25.9c-8.8-3.7-16.8-9.4-25.3-14.1c-13.8-7.6-28-7.5-39.6,4.6
		c-5.5,5.7-10.4,11.9-15.2,18.2c-11.8,15.6-32.7,23.3-52.2,18.3C257.5,50.7,248.9,48.8,243.7,47.5z"></path>
	<path class="st1" d="M243.7,47.5c5.2,1.2,13.8,3.1,22.4,5.4c19.5,5.1,40.4-2.7,52.2-18.3c4.8-6.3,9.7-12.5,15.2-18.2
		c11.7-12.1,25.8-12.2,39.6-4.6c8.5,4.7,16.5,10.3,25.3,14.1c18.7,7.9,35.6,2.8,51.2-8.8c7.9-5.9,15.9-11.5,26.2-12.8
		c6.9-0.9,13.4,0.2,18.6,4.2c5.8,4.4,11.1,9.7,15.8,15.3c9,10.9,18.9,20.2,33.2,23.3c11,2.3,21.7,0.4,32.3-2.9
		c6.8-2.1,14-4,21.1-4.4c12.4-0.8,21.7,5.3,27.4,16.1c4.4,8.4,7.4,17.5,11.8,25.9c9.1,17.3,23.7,26.1,43.2,26.9
		c8.4,0.4,16.8,0.8,25.1,2c16.3,2.2,25.2,18,26,32.9c0.5,10.3,0.6,20.6,4.5,30.5c5.7,14.1,16.1,22.9,29.7,28.6
		c9,3.8,18.3,7.1,26.9,11.7c10.9,5.9,14.4,20.1,12.5,31.2c-1.6,9.5-4.9,18.7-6.3,28.2c-1.8,12.7,1.5,24.8,10,34.4
		c6.1,6.9,13.8,12.5,20.9,18.6c9,7.7,16.9,16.2,16.6,29c-0.2,8.2-3.6,15.5-8.2,22.3c-6.1,9.3-12,18.6-14,30
		c-2.2,12.8,1,24.1,7.3,34.8c4.1,7.1,9.4,13.5,13.4,20.7c9.4,16.8,2.3,32.9-11.1,43.4c-8.5,6.6-16.9,13-22.4,22.6
		c-8,14.1-7.7,28.6-3.1,43.6c2.3,7.6,4.5,15.6,5,23.5c0.9,12.3-5.3,21.7-16,27.4c-8.4,4.4-17.5,7.4-25.9,11.8
		c-17.4,9.1-26,23.8-26.9,43.3c-0.4,8.4-0.8,16.8-2,25.1c-2.3,16.2-17.8,24.9-32.4,25.9c-9.4,0.7-19,1.6-28.2,4
		c-16,4-25.4,15.6-31.4,30.3c-3.7,9.1-5.5,18.7-11.4,27c-7.2,10-20.5,14.2-31.5,12.2c-9.5-1.7-18.7-5-28.2-6.2
		c-12.5-1.7-24.4,1.5-34.1,9.8c-6.4,5.5-11.8,12.3-17.2,18.9c-6.8,8.2-13.5,16.1-24.9,18.3c-8.3,1.6-15.6-0.6-22.7-4.3
		c-8.8-4.7-17-10.7-26.1-14.6c-18.3-7.6-35.1-2.5-50.3,8.8c-8.3,6.1-16.6,11.8-27.1,13.2c-6.5,0.9-12.7-0.4-17.7-4.1
		c-5.9-4.4-11.5-9.4-15.9-15.2c-8.8-11.5-19.2-20.5-33.5-23.6c-10.7-2.3-21.4-0.7-31.9,2.7c-6.8,2.2-13.9,4.1-21,4.6
		c-12.5,0.9-22-5.2-27.8-16.2c-4.3-8.1-7.1-16.9-11.3-25c-9.3-17.8-24.2-27-44.4-27.7c-8.6-0.3-17.2-0.6-25.6-2.1
		c-12.2-2.2-21.9-13.1-23.6-25.6c-1.3-9.1-1.6-18.3-3.1-27.4c-3.1-19.3-14.7-31.7-32.5-38.8c-8.9-3.6-18.4-5.4-26.6-11.2
		c-9.9-6.9-14.6-21-12.3-32.4c2.2-11.1,5.9-22.1,6.1-33.2c0.4-15.7-6.9-28.7-19.4-38.6c-6.2-4.9-12.5-9.7-18.2-15.2
		c-12.4-11.9-12.2-25.9-4.8-39.6c4.7-8.8,10.6-17,14.6-26.2c6.1-14.4,4-28.7-3.8-42c-4.6-7.9-10.5-15.2-14.7-23.3
		c-8.5-16.4-2.9-30.2,10.7-41.8c8.4-7.1,17.5-13.4,23.1-23.4c7.7-13.8,7.6-28,3.6-42.7c-2.2-8.2-4.9-16.4-5.5-24.8
		c-1.1-14.5,9.1-24.6,20.9-30.1c9.3-4.4,19.3-7.7,27.8-13.3c13.2-8.8,19.4-22.2,20.1-38.1c0.4-9.1,0.6-18.2,2.2-27.1
		c2.1-11.9,13.3-21.8,25.3-23.4c9.6-1.3,19.4-1.6,28.9-3.2c15.2-2.6,26.8-10.9,33.7-24.7c4-8,6.5-16.8,10-25
		C214.4,56.6,223.3,47.6,243.7,47.5z M58,602.6c0.5,15.8,6.2,26.1,18.4,31.8c7.5,3.6,15.5,6.2,23.3,9.1
		c16.1,5.9,29.2,24.5,29.6,41.6c0.2,7.2,0.6,14.5,2.1,21.6c3,14.4,11.7,23.8,26.7,25.8c9.6,1.3,19.4,1,29.1,2.2
		c11.3,1.4,20.7,6.5,28.3,15.2c6.8,7.8,10.1,17.1,13.7,26.5c4,10.6,10.5,19.2,21.7,23.3c9.5,3.5,18.7,1.2,27.8-1.7
		c9.7-3,19.1-6,29.7-4.7c14.5,1.8,24.8,9.6,33.9,20.1c5.3,6.2,10.5,12.9,17.2,17.4c14.8,9.9,30.7,4.1,43.5-6.2
		c15.1-12.2,31.9-17.8,50.7-10.2c8.6,3.5,16.4,8.9,24.5,13.5c15.9,9.2,32,6.2,44.1-8.5c6-7.3,11.7-14.8,18.4-21.3
		c8.8-8.6,20.2-12,32.2-11.4c8.2,0.5,16.4,3.1,24.4,5.2c18.4,4.9,35-2.6,41.6-19c2.1-5.3,4-10.7,5.9-16.1
		c4.8-13.7,13.1-24.3,26.6-30.3c8.9-4,18.5-4.3,28-5.2c5.8-0.5,11.9-1,17.3-3.1c13.9-5.4,19.3-17,20.2-31.1
		c0.5-7.3,0.2-14.6,1.1-21.8c2.3-18.6,12.8-30.9,30.1-38.2c9.1-3.9,19-6.3,26.5-13.6c7.7-7.5,11.4-16.6,9.9-27
		c-1.1-7.5-3.8-14.9-5.9-22.2c-4.3-15-3.4-29.7,6.3-42.1c6.4-8.1,14.9-14.4,22.4-21.6c6.9-6.7,11.8-14.2,11.8-24.4
		c-0.1-11.1-5.2-19.8-11.5-28.1c-15-19.4-17.4-38.4-5.7-59.4c3.5-6.3,7.8-12.2,11-18.6c8-15.9,2.8-30.3-10.5-41.4
		c-7.1-5.9-14.7-11.4-21-18c-8.7-9.1-12.3-20.8-11.1-33.2c0.9-9.4,3.8-18.6,6-27.8c2.9-12.4-1.9-26.6-12.8-32.7
		c-8.9-5-18.9-8.1-28.3-12.2c-16.2-7-27.6-21.7-29.1-40.9c-0.6-7.4-0.7-14.9-2.1-22.1c-2.9-14.4-11.7-23.8-26.6-25.9
		c-9.6-1.3-19.4-1.2-29.1-2.1c-10.8-1-19.8-6.2-27.3-13.7c-7-7-10.7-16-13.8-25.3c-3.5-10.6-9.2-19.5-19.6-24.7
		c-10.2-5.1-20.3-2.8-30.6,0c-8.2,2.2-16.5,5.3-24.8,5.4c-12.3,0.2-23.6-4.3-32.4-13.4c-6.7-7.1-12.9-14.7-19.8-21.6
		c-4.9-4.8-11.1-7.3-18.1-7.8c-11.9-0.8-21.3,4.5-30.1,11.5c-18.6,14.8-40.2,17.8-60.6,4.7c-5.7-3.6-11.5-7-17.4-10.1
		c-15.6-8.2-31-2.2-41.4,10.5c-5.8,7.2-11.4,14.7-18,21c-8.8,8.5-20.3,12.1-32.2,11.1c-10-0.8-19.9-3.8-29.8-6
		c-11.7-2.6-25.6,2.2-31.6,12.4c-4.3,7.3-7.2,15.4-10.1,23.3c-5.2,13.9-13.3,24.9-27.4,30.7c-9.6,4-19.8,4-30,5.1
		c-6.7,0.7-13.7,2.5-19.5,5.6c-10.6,5.7-14.2,16.3-15.1,27.7c-0.6,7.6-0.4,15.2-1.1,22.8c-1,10.5-5.5,19.8-13,27
		c-7.4,7.1-16.6,11.4-26.5,14.7c-9.8,3.3-18.4,8.4-23.5,18.1c-5.7,10.7-4,21.3-0.5,31.9c3.2,9.8,6.1,19.4,4.8,30.2
		c-1.6,13.6-8.8,23.5-18.3,32.3c-5.4,4.9-11.3,9.3-16.2,14.6c-4.8,5.2-7.6,11.6-7.8,19.2c-0.3,11.5,4.9,20.5,11.6,29
		c7.7,9.8,13.2,20.8,13.2,33.3c0,8.9-2.5,17.8-7.4,25.7c-4,6.4-8.2,12.8-11.5,19.5c-7.7,15.7-2,30.3,10.3,40.7
		c8,6.8,17.1,12.9,23.6,20.9c10.1,12.4,11,27.3,6.9,42.6C60.8,590.3,59.2,597.6,58,602.6z"></path>
	<path class="st0" d="M58,602.6c1.2-5,2.8-12.3,4.8-19.6c4.2-15.3,3.2-30.2-6.9-42.6c-6.6-8.1-15.6-14.1-23.6-20.9
		c-12.3-10.4-18-25-10.3-40.7c3.3-6.8,7.5-13.1,11.5-19.5c4.9-7.9,7.4-16.8,7.4-25.7c0-12.5-5.5-23.5-13.2-33.3
		c-6.7-8.5-11.9-17.5-11.6-29c0.2-7.6,3-13.9,7.8-19.2c4.9-5.3,10.8-9.7,16.2-14.6c9.6-8.8,16.8-18.6,18.3-32.3
		c1.2-10.7-1.7-20.4-4.8-30.2c-3.4-10.7-5.1-21.3,0.5-31.9c5.2-9.7,13.8-14.8,23.5-18.1c9.8-3.3,19-7.7,26.5-14.7
		c7.5-7.2,12.1-16.4,13-27c0.7-7.6,0.5-15.2,1.1-22.8c0.9-11.5,4.5-22,15.1-27.7c5.9-3.2,12.9-4.9,19.5-5.6
		c10.1-1.1,20.3-1.1,30-5.1c14.1-5.8,22.3-16.8,27.4-30.7c3-7.9,5.9-16.1,10.1-23.3c6-10.2,19.9-15,31.6-12.4
		c9.9,2.2,19.8,5.2,29.8,6c12,1,23.4-2.6,32.2-11.1c6.6-6.4,12.2-13.9,18-21c10.3-12.7,25.8-18.7,41.4-10.5
		c5.9,3.1,11.8,6.5,17.4,10.1c20.4,13.1,42,10.1,60.6-4.7c8.8-7,18.2-12.3,30.1-11.5c7.1,0.5,13.3,2.9,18.1,7.8
		c6.9,6.9,13.1,14.5,19.8,21.6c8.8,9.2,20.1,13.6,32.4,13.4c8.3-0.2,16.6-3.2,24.8-5.4c10.3-2.8,20.4-5.1,30.6,0
		c10.4,5.2,16,14.1,19.6,24.7c3.1,9.3,6.9,18.3,13.8,25.3c7.5,7.5,16.5,12.6,27.3,13.7c9.7,0.9,19.5,0.8,29.1,2.1
		c15,2,23.7,11.5,26.6,25.9c1.5,7.2,1.5,14.7,2.1,22.1c1.6,19.2,13,33.9,29.1,40.9c9.4,4.1,19.4,7.2,28.3,12.2
		c10.9,6.1,15.7,20.3,12.8,32.7c-2.1,9.2-5.1,18.4-6,27.8c-1.2,12.4,2.4,24.1,11.1,33.2c6.3,6.6,13.9,12.1,21,18
		c13.3,11.1,18.5,25.5,10.5,41.4c-3.2,6.4-7.5,12.3-11,18.6c-11.7,21-9.3,40,5.7,59.4c6.4,8.3,11.5,17,11.5,28.1
		c0,10.3-4.9,17.8-11.8,24.4c-7.4,7.2-16,13.5-22.4,21.6c-9.8,12.4-10.7,27-6.3,42.1c2.1,7.4,4.8,14.7,5.9,22.2
		c1.5,10.4-2.2,19.5-9.9,27c-7.5,7.3-17.4,9.8-26.5,13.6c-17.2,7.3-27.7,19.5-30.1,38.2c-0.9,7.2-0.6,14.5-1.1,21.8
		c-0.9,14.1-6.3,25.7-20.2,31.1c-5.4,2.1-11.5,2.6-17.3,3.1c-9.5,0.9-19.1,1.2-28,5.2c-13.5,6-21.8,16.6-26.6,30.3
		c-1.9,5.4-3.8,10.8-5.9,16.1c-6.6,16.4-23.1,23.9-41.6,19c-8-2.1-16.2-4.8-24.4-5.2c-12-0.7-23.4,2.8-32.2,11.4
		c-6.7,6.6-12.5,14.1-18.4,21.3c-12.1,14.7-28.2,17.7-44.1,8.5c-8.1-4.7-15.9-10-24.5-13.5c-18.8-7.7-35.6-2-50.7,10.2
		c-12.8,10.3-28.7,16.1-43.5,6.2c-6.6-4.4-11.9-11.2-17.2-17.4c-9.1-10.5-19.4-18.3-33.9-20.1c-10.6-1.3-20.1,1.6-29.7,4.7
		c-9.1,2.9-18.3,5.2-27.8,1.7c-11.2-4.1-17.7-12.6-21.7-23.3c-3.6-9.4-6.9-18.7-13.7-26.5c-7.6-8.8-17.1-13.8-28.3-15.2
		c-9.6-1.2-19.5-0.9-29.1-2.2c-15-2-23.7-11.4-26.7-25.8c-1.5-7-1.9-14.4-2.1-21.6c-0.4-17.1-13.5-35.7-29.6-41.6
		c-7.8-2.9-15.8-5.5-23.3-9.1C64.2,628.7,58.6,618.4,58,602.6z M607.4,786.8c11.8-0.1,19.7-5.6,24.4-15.9c2.5-5.5,4.4-11.3,6.4-17
		c5.5-15.8,15.4-27.6,31-34.4c11.1-4.8,22.8-4.5,34.4-5.4c14.8-1.2,25.4-12,25.7-26.1c0.2-9.2,0.7-18.6,2.1-27.7
		c2.1-13.8,9.2-25.2,21-32.6c8.2-5.2,17.6-8.6,26.5-12.7c12-5.5,19.9-13.6,18.2-27.9c-0.7-6.4-3.2-12.7-5-19
		c-6.3-22.1-3.5-42,14-58.4c5.8-5.4,12.2-10.2,17.7-15.9c5.9-6.2,10.4-13.8,7.2-22.7c-2.5-7-6.2-13.7-10.5-19.7
		c-8.1-11.4-13.6-23.5-13.3-37.8c0.3-12,4.3-22.7,10.7-32.7c3.2-5,6.4-10,9-15.3c3.6-7.5,3.8-15.4-1.4-22
		c-4.3-5.5-10.2-9.7-15.3-14.6c-6.4-6.1-13.9-11.6-18.8-18.7c-9.2-13.4-10.3-28.7-6.6-44.5c2-8.4,5.4-16.6,4.4-25.6
		c-0.8-6.3-2.7-12.3-8.3-15.5c-7.7-4.3-15.8-7.9-24-11c-18.2-6.7-31.2-18.3-36-37.3c-2.4-9.5-2.5-19.5-3.7-29.3
		c-1.7-12.7-7.3-21-19.1-23.4c-9.2-1.8-18.8-1.4-28.2-2.3c-15.3-1.4-28.7-7.4-37.4-20.1c-5.9-8.6-9.9-18.7-14.2-28.4
		c-5.5-12.4-14.6-20-28.4-18.2c-6.9,0.9-13.6,3.5-20.4,5.4c-13.1,3.6-25.9,3.7-38.6-1.6c-12.4-5.2-20.6-15.2-28.7-25.2
		c-8.3-10.2-19.8-18.1-34.3-10.7c-6,3-11.3,7.2-16.9,11c-20,13.6-40.6,14.5-61.8,3.2c-6.6-3.6-12.8-8-19.5-11.5
		c-8.1-4.3-16.6-4.6-23.6,1.6c-6.8,6.1-12.8,13.2-18.5,20.4c-15.4,19.3-35.2,24.6-58.6,19.6c-8.5-1.8-16.6-5.4-25.6-4.4
		c-6.3,0.8-12.4,2.7-15.5,8.3c-4.3,7.6-7.9,15.8-11,24c-6.7,18.1-18.1,31.3-37.2,36c-9.3,2.3-19.1,2.8-28.8,3.7
		c-16.4,1.4-28.3,15.7-25.9,32.1c1.6,11.4-0.4,22.3-4.7,32.6c-7.2,17.2-21.4,26.4-38.4,32.3c-8,2.7-15.6,6.1-20.4,13.7
		c-5.5,8.7-4.3,17.7-1.2,26.6c3.5,10.2,6.2,20.4,5.6,31.3c-0.7,12.3-4.7,23.2-13.4,31.9c-6.8,6.8-14.4,12.7-21.2,19.5
		c-6.5,6.6-10.5,14.9-7.2,24.1c2.3,6.5,6.2,12.7,10.3,18.3c14.9,20,18.1,41.1,6.6,63.7c-3.8,7.4-8.7,14.3-12.6,21.7
		c-4.1,7.9-4.4,16.4,1.7,23.2c6.5,7.1,14.1,13.2,21.6,19.3c12.2,10.1,18.9,22.9,20.1,38.6c0.8,10.2-1.3,20-4.3,29.6
		c-5.8,18.4,1,31.7,19.4,37.9c5.6,1.9,11.2,3.6,16.6,6c13.8,6.1,23.8,16,29.4,30.2c4.3,11,3.5,22.6,5,34
		c1.8,14.4,9.7,22.9,23.3,24.5c8.1,1,16.3,0.4,24.4,1.2c11.8,1.2,22.6,5.3,31.5,13.6c8.8,8.2,13.9,18.5,17.9,29.7
		c2.8,7.9,6.3,15.6,14,20.2c8.6,5.1,17.5,4,26.2,0.9c13.4-4.7,26.9-7.5,41.1-4.3c16.4,3.7,26.7,15.4,36.6,27.8
		c8.6,10.7,19.8,18.2,35.2,10.5c5.7-2.9,10.7-7,16-10.6c10.7-7.4,22.4-11.6,35.6-10.9c9.5,0.5,18.4,3,26.6,8
		c6.5,3.9,12.9,8,19.6,11.4c7.9,4.1,16.2,4.2,23.2-1.7c5.6-4.7,10.9-10.2,15-16.2c14.2-20.8,37.1-30.1,62.5-23.7
		C593.3,783.6,600.4,785.1,607.4,786.8z"></path>
	<path class="st1" d="M607.4,786.8c-7-1.6-14-3.2-21-4.9c-25.4-6.5-48.2,2.9-62.5,23.7c-4.1,6-9.4,11.5-15,16.2
		c-7,5.9-15.3,5.8-23.2,1.7c-6.7-3.5-13.1-7.5-19.6-11.4c-8.2-4.9-17.1-7.5-26.6-8c-13.2-0.7-24.9,3.5-35.6,10.9
		c-5.3,3.6-10.3,7.8-16,10.6c-15.4,7.7-26.6,0.2-35.2-10.5c-9.9-12.4-20.2-24.1-36.6-27.8c-14.2-3.2-27.7-0.4-41.1,4.3
		c-8.7,3.1-17.6,4.2-26.2-0.9c-7.8-4.6-11.2-12.3-14-20.2c-4-11.1-9.1-21.4-17.9-29.7c-8.9-8.3-19.6-12.4-31.5-13.6
		c-8.1-0.8-16.3-0.2-24.4-1.2c-13.6-1.6-21.5-10.2-23.3-24.5c-1.4-11.4-0.6-23-5-34c-5.6-14.3-15.6-24.1-29.4-30.2
		c-5.4-2.4-11-4.1-16.6-6c-18.3-6.2-25.1-19.5-19.4-37.9c3-9.6,5.1-19.4,4.3-29.6c-1.2-15.8-7.9-28.5-20.1-38.6
		c-7.4-6.2-15.1-12.2-21.6-19.3c-6.1-6.7-5.8-15.3-1.7-23.2c3.9-7.4,8.8-14.3,12.6-21.7c11.5-22.6,8.3-43.7-6.6-63.7
		c-4.2-5.6-8-11.8-10.3-18.3c-3.3-9.3,0.7-17.5,7.2-24.1c6.7-6.8,14.4-12.7,21.2-19.5c8.7-8.7,12.7-19.6,13.4-31.9
		c0.6-10.9-2.1-21.1-5.6-31.3c-3.1-8.9-4.3-18,1.2-26.6c4.8-7.6,12.4-11,20.4-13.7c17-5.8,31.2-15.1,38.4-32.3
		c4.3-10.3,6.3-21.2,4.7-32.6c-2.4-16.4,9.5-30.7,25.9-32.1c9.6-0.8,19.4-1.4,28.8-3.7c19.1-4.7,30.5-18,37.2-36
		c3-8.2,6.7-16.4,11-24c3.1-5.6,9.2-7.5,15.5-8.3c9-1.1,17.2,2.5,25.6,4.4c23.4,5,43.2-0.3,58.6-19.6c5.7-7.2,11.7-14.3,18.5-20.4
		c7-6.2,15.5-5.9,23.6-1.6c6.6,3.6,12.8,8,19.5,11.5c21.2,11.3,41.8,10.4,61.8-3.2c5.6-3.8,10.9-8,16.9-11
		c14.5-7.4,26.1,0.5,34.3,10.7c8.1,10,16.2,20,28.7,25.2c12.7,5.3,25.6,5.2,38.6,1.6c6.8-1.9,13.5-4.5,20.4-5.4
		c13.9-1.8,22.9,5.8,28.4,18.2c4.3,9.7,8.2,19.8,14.2,28.4c8.8,12.7,22.1,18.8,37.4,20.1c9.4,0.8,19,0.4,28.2,2.3
		c11.8,2.3,17.4,10.6,19.1,23.4c1.3,9.8,1.3,19.8,3.7,29.3c4.8,19,17.9,30.6,36,37.3c8.2,3,16.3,6.7,24,11c5.6,3.1,7.5,9.1,8.3,15.5
		c1.1,9-2.4,17.2-4.4,25.6c-3.7,15.8-2.6,31.1,6.6,44.5c4.9,7.2,12.4,12.6,18.8,18.7c5.1,4.9,10.9,9.1,15.3,14.6
		c5.2,6.6,5.1,14.5,1.4,22c-2.6,5.3-5.8,10.3-9,15.3c-6.5,10-10.5,20.7-10.7,32.7c-0.3,14.3,5.2,26.4,13.3,37.8
		c4.3,6.1,8,12.8,10.5,19.7c3.2,8.9-1.3,16.5-7.2,22.7c-5.5,5.7-11.9,10.5-17.7,15.9c-17.6,16.3-20.3,36.3-14,58.4
		c1.8,6.3,4.2,12.5,5,19c1.6,14.3-6.2,22.4-18.2,27.9c-8.9,4.1-18.3,7.5-26.5,12.7c-11.7,7.4-18.9,18.8-21,32.6
		c-1.4,9.1-1.8,18.4-2.1,27.7c-0.3,14.1-10.9,25-25.7,26.1c-11.5,0.9-23.3,0.6-34.4,5.4c-15.7,6.8-25.5,18.6-31,34.4
		c-2,5.7-3.9,11.5-6.4,17C627.1,781.2,619.2,786.7,607.4,786.8z M115.8,429c0-5.4-2.7-8-8.6-8c-5.9,0-7.9,1.8-7.9,7.4
		c-0.1,6.2,1.8,8.2,7.6,8.2C113.5,436.6,115.8,434.6,115.8,429z M730.4,437.5c6.7,0,8.4-1.6,8.4-7.9c0-5.7-2-7.6-7.7-7.6
		c-6,0-7.8,1.8-7.8,8C723.2,436.9,723.9,437.5,730.4,437.5z"></path>
	<path class="st0" d="M115.8,429c0,5.6-2.3,7.6-8.9,7.6c-5.9,0-7.7-2-7.6-8.2c0-5.6,2-7.4,7.9-7.4C113,421,115.8,423.6,115.8,429z"></path>
	<path class="st0" d="M730.4,437.5c-6.6,0-7.2-0.7-7.2-7.6c0-6.2,1.8-8,7.8-8c5.7,0,7.7,1.9,7.7,7.6
		C738.8,435.9,737.1,437.6,730.4,437.5z"></path>
</g>

</svg>
  <!--<img src="assets/svg/Badge1.svg" scrolling="no" width="100%" class="iframe-content" [ngClass]="{'dragging' : showBorder}" />-->
  <!--<img [src]="settings.path" scrolling="no" width="100%" class="iframe-content" [ngClass]="{'dragging' : showBorder}"/>-->

</div>
