
<!--[rzAspectRatio]="aspectRatio" feature has a bug -->
<div class="iframe-resize-container"
     ngResizable
     rzContainment="#container"
     rzHandles="n,s,e,w,se,sw"
     ngDraggable
     [zIndex]="1"
     [position]="position"
     [bounds]="dragBounds"
     [inBounds]="true"
     [preventDefaultEvent]="true"
     (rzStop)="onResizeStop($event)"
     (rzStart)="onResizeStart($event)"
     (movingOffset)="onMoving($event)"
     (started)="onDragBegin($event)"
     (stopped)="onDragEnd($event)"
>


  <!--<img [src]="settings.path" scrolling="no" width="100%" class="iframe-content" [ngClass]="{'dragging' : showBorder}"/>-->
  <canvas></canvas>

</div>
