<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Badge Keep | Bring On the Good</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>



<body style="margin:0;padding:0;">

<style type="text/css">
    @font-face {
        font-family: 'din-light';
        src: url('{{host}}/assets/fonts/din-light-webfont.woff2') format('woff2'),
        url('{{host}}/assets/fonts/din-light-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'din-medium';
        src: url('{{host}}/assets/fonts/din-medium-webfont.woff2') format('woff2'),
        url('{{host}}/assets/fonts/din-medium-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'din-regular';
        src: url('{{host}}/assets/fonts/din-regular-webfont.woff2') format('woff2'),
        url('{{host}}/assets/fonts/din-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'din-regularalternate';
        src: url('{{host}}/assets/fonts/din-regularalternate-webfont.woff2') format('woff2'),
        url('{{host}}/assets/fonts/din-regularalternate-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    #OptionalText{
        margin-left: 70px;
        width: 100%;
        margin-top:0;
    }

    .This-is-Wrong {
        object-fit: contain;
        font-family: "din-regularalternate", serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #f27360;
        text-decoration: none;
    }
    a.This-is-Wrong:hover{
        text-decoration: underline;
    }

    .HeartIConActivated {
        width: 72px;
        height: 64px;
        object-fit: contain;
    }

    /*
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */

</style>
<div class="logo-banner" style="text-align: center;padding: 10px 0; width:600px; margin:0 auto;">
    <img style='width: 86px;height: 31px;object-fit: contain;' alt="whoa" src="{{host}}/assets/img/whoa-logo-l-arger-300-dpi.png" class="WhoaLogoLArger_300Dpi">
    <div style='margin: 0 auto; padding: 5px 0 3px 0; width: auto; height: auto; object-fit: contain; font-family: "din-light", serif; font-size: 17px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #000000;' class="Welcome-to-the-merit-based-social-platofrm">Welcome to the merit based social platofrm</div>
</div>
<div style="text-align:center">
    <img style="width:600px;height: 100px;z-index: 1;" src="{{host}}/{{bgbackground}}" />
</div>

<div style="margin: 0 auto; width:420px;">
    <div >

        <div style="object-fit: contain; background-color: #ffffff; padding: 40px 20px 40px 20px; position: relative; z-index:100; border-radius: 25px; border: 1px #949494 solid; box-shadow: 0px 8px 9.4px 0.6px rgba(0, 0, 0, 0.13);">
            <div class="auth-square-middle-section" style="display: flex; align-items: center; justify-content: center;">
                <img src="{{host}}{{image}}" class="unlockicon" style="margin: 0 auto;">
            </div>
            <br />
            <div class="New-Password-Which-one-was-it-Hey-it-happens-to-all-of-usN" style="object-fit: contain; font-size: 12px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #2d3136; text-align: center;">
                <div class="text-style-1" style='font-size: 40px; font-weight: 500; font-family: "din-medium", serif;'>
                    {{h1}}
                </div>
                <div class="text-style-2" style='font-size: 36px; font-family: "din-light", serif;'>
                    {{h2}}
                </div>
                <p class="text-style-3" style='padding: 0 25px;font-family: "din-light", serif;'>{{p}}</p>
            </div>

            <div style="display:flex; flex-direction:row">
                <div class="LoginRoundedSquareButtons" style="margin: 20px 5px 0 auto; width: auto;height: auto;position: relative;display:flex;flex-direction: column;">
                    <a href="{{link}}" target="_blank" class="Rounded-Rectangle-Button-Small" style="text-decoration:none; margin: 0 auto; width: auto; height: 26px; border-radius: 21.6px; background-color: #ffffff; cursor:pointer; border: 1px solid grey; display:flex;">
                        <span style='object-fit: contain; font-family: "din-regularalternate", serif; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: left; color: #000000; margin-left:11px; margin-right: 10px; margin-top: 6px; width: auto; height: 100%;' class="ButtonText">{{buttonCallToAction}}</span>
                        <span style="flex: 1 1 auto"></span>
                        <img src="{{host}}/assets/img/arrow-2.png" class="Arrow2" style="width: 10px; height: 100%; object-fit: contain; margin-top: 0; margin-right:9px;" />
                    </a>
                </div>
                <div class="LoginRoundedSquareButtons" style="margin: 20px auto 0 5px; width: auto;height: auto;position: relative;display:flex;flex-direction: column;">
                    <a href="{{link2}}" target="_blank" class="Rounded-Rectangle-Button-Small" style="text-decoration:none; margin: 0 auto; width: auto; height: 26px; border-radius: 21.6px; background-color: #ffffff; cursor:pointer; border: 1px solid grey; display:flex;">
                        <span style='object-fit: contain; font-family: "din-regularalternate", serif; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: left; color: #000000; margin-left:11px; margin-right: 10px; margin-top: 6px; width: auto; height: 100%;' class="ButtonText">{{buttonCallToAction2}}</span>
                        <span style="flex: 1 1 auto"></span>
                        <img src="{{host}}/assets/img/times.png" class="Arrow2" style="width: 16px; height: 100%; object-fit: contain; margin-top: 0; margin-right:9px;" />
                    </a>
                </div>
            </div>
        </div>
        <div class="Next-Steps-Container" style="padding:5px;">
            <div class="Earn-Badges-Share-the-Reward-This-is-your-year-book-post-high" style='width: 280px; height: auto; object-fit: contain; font-family: "din-medium", serif; font-size: 14px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: left; color: #2d3136; padding: 33px 50px 0px 50px; position:relative; top:0; margin: 0 auto;'>
                <img src="{{host}}/assets/img/badge-icons-together.png" class="badgeIconsTogether" style="width:100%;height: 87px;object-fit: contain;">

            </div>
            <div class="Next-Steps" style='width: auto; height: 16px; object-fit: contain; font-family: "din-medium", serif; font-size: 14px; font-weight: 500; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: left; color: #000000; display:inline-block;'>Next Steps</div>
            <hr class="Next-Steps-hr" style="vertical-align: bottom; position: relative; top: 7px; height: 2px; border-radius: 10px; background-color: #6E6E6E; opacity: 0.3; display: inline-block; margin-left: 10px; width: 79%;" />
            <ul class="Next-Steps-list" style='font-family: "din-regularalternate", serif; font-size: 30px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: left; color: #000000; padding:0; margin-bottom:0;'>
                <li style="list-style-type: none; padding: 0 0 25px 0;">
                    <div class="number-container" style="display:inline-block;width: 25px;padding-right:10px;">1.</div>
                    <div class="image-container" style="display:inline-block; height: 30px; width: auto; padding-right: 17px;">
                        <img src="{{host}}/assets/img/facebook-social-media-user-interface-05-512.png" class="EntercodeIcon">
                    </div>
                    <div class="text-container" style='width: 300px; display:inline-block; object-fit: contain; font-family: "din-light", serif; font-size: 12px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: left; color: #2d3136;'>
                        {{step1}}
                    </div>
                </li>
                <li style="list-style-type: none; padding: 0 0 25px 0;">
                    <div class="number-container"  style="display:inline-block;width: 25px;padding-right:10px;">2.</div>
                    <div class="image-container" style="display:inline-block; height: 30px; width: auto; padding-right: 17px;">
                        <img src="{{host}}/assets/img/office-block.png" class="sticky-password-icon-aes">
                    </div>
                    <div class="text-container" style='width: 300px; display:inline-block; object-fit: contain; font-family: "din-light", serif; font-size: 12px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: left; color: #2d3136;'>
                        {{step2}}
                    </div>
                </li>
                <li style="list-style-type: none; padding: 0 0 25px 0;">
                    <div class="number-container" style="display:inline-block;width: 25px;padding-right:10px;">3.</div>
                    <div class="image-container" style="display:inline-block; height: 30px; width: auto; padding-right: 17px;">
                        <img src="{{host}}/assets/img/badge.png" class="sticky-password-icon-aes">
                    </div>
                    <div class="text-container" style='width: 300px; display:inline-block; object-fit: contain; font-family: "din-light", serif; font-size: 12px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: left; color: #2d3136;'>
                        {{step3}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body></html>
