/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "assets/css/fonts.css";
@import "assets/css/authentication.css";
@import "assets/css/badge.css";
@import "assets/css/friends.css";
@import "assets/css/navigation.css";

body{
  background: #FFFFFF;
  margin:0;
  padding:0;
  overflow-x:hidden;
}

input:focus, button:focus, div:focus, span:focus {
  outline:none;
}

.card{
    margin-top:8px;
}
.pointer{
    cursor:pointer;
}

.error {
  background-color: #ff0f0;
}

.mat-fab.mat-success, .mat-flat-button.mat-success, .mat-mini-fab.mat-success, .mat-raised-button.mat-success{ background-color: #30A64A; }
.mat-fab.mat-success, .mat-flat-button.mat-success, .mat-mini-fab.mat-success, .mat-raised-button.mat-success{ color:white }

.mat-table .mat-row:hover {
  background: rgba(0, 0, 0, 0.04);
}
.mat-table td{
  padding:15px;
}

.flex-grid-main {
  display: flex;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
}
.flex-grid-main .col-fourth {
  width: 24%;
  margin: 0 auto;
}
.flex-grid-main .col-three-fourth {
  width: 74%;
  margin: 0 auto;
}

/*@media (max-width: 1000px) {
  .flex-grid-main, .col-fourth, .col-three-fourth {
    display: block;
    width:100% !important;
  }
}*/

/* Style the input container */
.input-container {
  display: flex;
  width: 152px;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon-search {
  position: absolute;
  margin-left:120px;
  margin-top: 3px;
  color:grey;
}

/* Style the input fields */
.input-field {
  width: 110px;
  padding: 10px 30px 10px 10px;
  outline: none;
  border-radius: 16px;
  z-index: 100;
  margin-top: -7px;
  border: 1px solid grey;
  background: no-repeat right;
  font-family: "din-regularalternate", serif;
  color: #6e6f71;
}

@media (max-width: 610px){
  .input-field{
    margin: 0 auto;
  }
  .input-container{
    margin: 10px auto 0 auto;
  }
  .icon-search{
    margin-top: 9px;
  }
}

.input-field:focus {
  border: 1px solid #f27360;
}
.input-field:focus + i{
  color:#f27360;
}


._searchBox {
  width: 156px;
  height: 33px;
  object-fit: contain;
  border-radius: 16.1px;
  background-color: #ffffff;
  cursor:pointer;
  z-index: 100;
  margin-top:-7px;
  margin-right:10px;
  margin-left:33px;
}

._searchBox span {
  font-family: "din-regularalternate", serif;
  object-fit: contain;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

._uploadBox {
  width: 156px;
  height: 33px;
  object-fit: contain;
  border-radius: 16.1px;
  background-color: #ffffff;
  cursor:pointer;
  z-index: 100;
}

._uploadBox span {
  font-family: "din-regularalternate", serif;
  object-fit: contain;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.BigArrowTopLEft {
  width: 38px;
  height: 61px;
  object-fit: contain;
  cursor:pointer;
}

.loadingGif {
  width: auto;
  height: 200px;
  background: url('/assets/img/loading.gif') -294px -200px;
}
.friends-card-top-noprofile{
  height:100px !important;
}
