<div class="friends">
  <div class="flex-grid-main">
    <div class="col-fourth">
      <div class="badge-container">
        <ul class="badge-filter">
          <li><a href="#">Friends</a></li>
          <li><a href="#">Co-Workers</a></li>
          <li><a href="#">Employees</a></li>
        </ul>
      </div>
    </div>
    <div class="col-three-fourth">
      <div class="badge-container">
        <ul class="badge-filter">
          <li><a >Favorites</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex-grid-main">
    <div class="col-fourth">
        <friend-invite></friend-invite>
        <friend-select (valueChange)='selectFriend($event)'></friend-select>
      <!--<div class="badge-card-container">
        <div (click)="selectFriend(friend)" class="friends-card" *ngFor="let friend of friends; let i = index" [ngClass]="{'active': selectedFriend._id === friend._id}">

          <div class="friends-card-top" [ngClass]="{'bg-sky-1': i % 4 === 0, 'bg-sky-2': i % 4 === 1, 'bg-sky-3': i % 4 === 2, 'bg-sky-4': i % 4 === 3}">
            <img class="friendsProfilePic" [src]="friend.path" />
          </div>
          <div class="friends-card-bottom">
            <div class="friends-card-name">{{friend.firstName}}&nbsp;{{friend.lastName}}</div>
            <button class="use"><span>Select</span></button>

          </div>
        </div>
      </div>-->
    </div>
    <div class="col-three-fourth">
      <div class="badge-card-container-favorites">
        <div class="badge-card">
          <img src="/assets/img/high-s-chool-logo.png"
               srcset="/assets/img/high-s-chool-logo@2x.png 2x,
             /assets/img/high-s-chool-logo@3x.png 3x"
               class="HighSchoolLogo">
          <div class="badge-card-top">
            <img src="/assets/img/badges/BadgeExample1.jpg" />
          </div>
        </div>
        <div class="badge-card-container-right">
          <h1 class="badge-card-header">Perfect Attendance</h1>
          <p class="badge-card-paragraph">Throughout the School year we know it’s
            not always easy to wake up and learn
            everyday. But, some howy ou did it!</p>
          <div class="reward-claimed-container">
            <!--<h1 class="Reward">Reward</h1>--><h1 class="Claimed">Claimed 10/28/2018</h1>
          </div>
          <p class="badge-card-paragraph">
            You can come to the office anytime you like
            and view your perminent record.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

