
  <form [formGroup]="parentForm" novalidate #form1="ngForm">
    <div class="checkout-form-component">
      <div class="half-container-parent">
        <div class="half-container">
          <mat-form-field class="event-input">
            <input class="auth-square-input" matInput placeholder="First Name" formControlName="firstName" />
            <mat-error *ngIf="parentForm.get('firstName').hasError('required') && form1.submitted">First Name is required</mat-error>
          </mat-form-field>
        </div>
        <div class="half-container">
          <mat-form-field class="event-input">
            <input class="auth-square-input" matInput placeholder="Last Name" formControlName="lastName" />
            <mat-error *ngIf="parentForm.get('lastName').hasError('required') && form1.submitted">First Name is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!--<mat-form-field class="event-input">
        <input class="auth-square-input" matInput placeholder="Credit Card" formControlName="creditCard" />
        <mat-error *ngIf="parentForm.get('creditCard').hasError('required') && form1.submitted">Credit Card Number is required</mat-error>
      </mat-form-field>

      <mat-form-field class="event-input">
        <input class="auth-square-input" matInput placeholder="CVC" formControlName="cvc" />
        <mat-error *ngIf="parentForm.get('cvc').hasError('required') && form1.submitted">CVC is required</mat-error>
      </mat-form-field>-->

      <div id="card-info" #cardInfo></div>

      <mat-error id="card-errors" role="alert" *ngIf="error">{{ error }}</mat-error>

      <!--<mat-form-field class="event-input">
        <input class="auth-square-input" matInput placeholder="Address1" formControlName="address1" />
        <mat-error *ngIf="parentForm.get('address1').hasError('required') && form1.submitted">Address is required</mat-error>
      </mat-form-field>

      <mat-form-field class="event-input">
        <input class="auth-square-input" matInput placeholder="Address2" formControlName="address2" />
      </mat-form-field>

      <mat-form-field class="event-input">
        <input class="auth-square-input" matInput placeholder="City" formControlName="city" />
        <mat-error *ngIf="parentForm.get('city').hasError('required') && form1.submitted">City is required</mat-error>
      </mat-form-field>

      <mat-form-field class="event-input">
        <input class="auth-square-input" matInput placeholder="State" formControlName="state" />
        <mat-error *ngIf="parentForm.get('state').hasError('required') && form1.submitted">State is required</mat-error>
      </mat-form-field>

      <mat-form-field class="event-input">
        <input class="auth-square-input" matInput placeholder="Zip" formControlName="zip" />
        <mat-error *ngIf="parentForm.get('zip').hasError('required') && form1.submitted">Zip is required</mat-error>
      </mat-form-field>-->

      <div class="checkbox-text">
        <mat-checkbox color="primary" [ngClass]="{'error': isValid('saveCard')}" formControlName="saveCard">Save Info</mat-checkbox>
      </div>
    </div>

  </form>
