.checkout-form-component{
  width: 100%;
  display:flex;
  flex-direction: column;
}


.half-container{
  width:100%;
  display:flex;
}
::ng-deep .half-container .mat-form-field-infix, ::ng-deep .half-container .mat-form-field{
  width:90%;
}
.half-container-parent{
  display:flex;
  flex-direction: row;
}

#card-info{
  padding: 20px 0;
}

.checkbox-text{
  padding: 20px 0;
}
