<h1 mat-dialog-title>Select A Badge</h1>
<div mat-dialog-content>
  <badge [badgeType]="'user'" (valueChange)='handleBadgeSelection($event)'></badge>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <!--<button mat-button [mat-dialog-close]="badge" cdkFocusInitial>Ok</button>-->
</div>
