<h2 mat-dialog-title>Preview Badge</h2>
<mat-dialog-content class="mat-typography">
  <div id="badge-preview">

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirm Create Badge</button>
</mat-dialog-actions>
