
  .iframe-resize-container {
    position: relative;
    width:150px;
    height:150px;
    z-index: 1;
  }

  .iframe-drag-handle {
    position: absolute;
    top: 0;
    right: 0;
    height: 2em;
    z-index: 8;
    padding: 0.25em;
    text-align: right;
    cursor:grabbing;
  }

  .iframe-content {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }

  .ng-resizable-handle.ng-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
  }
  .sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
  .sr-only-focusable:active,.sr-only-focusable:focus{clip:auto;white-space:normal;position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}
  .ng-resizable{position:relative}
  .ng-resizable-handle{position:absolute;font-size:.1px;display:block;touch-action:none}
  .ng-resizable-handle.ng-resizable-e{cursor:e-resize;width:7px;right:-5px;height:100%;top:0}
  .ng-resizable-handle.ng-resizable-w{cursor:w-resize;width:7px;left:-5px;height:100%;top:0}
  .ng-resizable-handle.ng-resizable-s{cursor:s-resize;height:7px;bottom:-5px;width:100%;left:0}
  .ng-resizable-handle.ng-resizable-n{cursor:n-resize;height:7px;top:-5px;width:100%;left:0}
  .ng-resizable-handle.ng-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}
  .ng-resizable-handle.ng-resizable-sw{cursor:sw-resize;width:12px;height:12px;left:1px;bottom:1px}
  .ng-resizable-handle.ng-resizable-ne{cursor:ne-resize;width:12px;height:12px;right:1px;top:1px}
  .ng-resizable-handle.ng-resizable-nw{cursor:nw-resize;width:12px;height:12px;left:1px;top:1px}



  .iframe-resize-container img{
    cursor:grabbing;
  }

  .iframe-resize-container:hover{
    outline:1px solid white;
  }

  .ng-resizable-handle{
    visibility: hidden;
  }

  .iframe-resize-container:hover .ng-resizable-handle{
    visibility: visible;
  }

  .ng-resizable-se:after, .ng-resizable-ne:after, .ng-resizable-sw:after, .ng-resizable-nw:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: 50%;
    margin-top: 50%;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 5px 1px rgba(14,19,24,.15), 0 0 0 1px rgba(14,19,24,.15);
  }

  .ng-resizable-se:after{
    left: 2px;
    top: 2px;
  }
  .ng-resizable-sw:after{
    right: 9px;
    top: 1px;
  }
  .ng-resizable-ne:after{
    top:-11px;
    left:3px;
  }
  .ng-resizable-nw:after{
    top:-11px;
    right:8px;
  }

  .iframe-resize-container img.dragging {
    outline:1px solid white;
  }
  img:focus{
    outline: 1px solid white;
  }

