.mat-form-field, .badge-form{
  width: 100%;
}
.checkbox-text{
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
  margin-left: 7px;
}

mat-form-field input{
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
}


mat-form-field textarea {
  -o-object-fit: contain;
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
}

mat-form-field mat-checkbox {
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
}
