<div [formGroup]="parentForm" class="badge-form">
  <div>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <mat-error *ngIf="parentForm.get('name').hasError('hasProfanity')">
      <p>* Name must not contain profanity</p>
    </mat-error>
  </div>
  <!-- [ngClass]="{'error': isValid('description')}" -->
  <!--- <small [hidden]="adressForm.controls.street.valid" class="text-danger">Street is required</small> -->
  <div class="badge-textarea">
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
    <mat-error *ngIf="parentForm.get('description').hasError('hasProfanity')">
      <p>* Description must not contain profanity</p>
    </mat-error>
  </div>

  <div>
    <mat-form-field>
      <input class="auth-square-input" matInput placeholder="Prize Amount" type="text" formControlName="prize" />
    </mat-form-field>
  </div>
  <div class="badge-textarea">
    <mat-form-field>
      <textarea class="auth-square-input" matInput placeholder="Prize Description" type="text" formControlName="prizeDescription"></textarea>
    </mat-form-field>
    <mat-error *ngIf="parentForm.get('prizeDescription').hasError('hasProfanity')">
      <p>* Prize description must not contain profanity</p>
    </mat-error>
  </div>
  <div class="checkbox-text">
    <mat-checkbox color="primary" formControlName="turnCommentsOff">Turn Comments Off</mat-checkbox>
  </div>
  <div class="checkbox-text">
    <mat-checkbox color="primary" formControlName="makePrivate">Make Private</mat-checkbox>
  </div>
  <div class="checkbox-text">
    <mat-checkbox color="primary" formControlName="turnEmailNotificationsOff">Turn Email Notifications Off</mat-checkbox>
  </div>
</div>
