<nav-breadcrumb link="/events">View Event</nav-breadcrumb>

<div class="grid-container">
  <div class="main">
    <div class="event-component-container">
      <event type="view" [events$]="events$"></event>

      <div *ngIf="participantInvite && participantInvite.length > 0">
        <app-event-accept [participant]="participantInvite[0]" ></app-event-accept>
        <hr class="hr-break" />
      </div>
      <div *ngIf="badges && badges.length > 0">
        <div  class="container-header">Badges</div>
        <badges [badges]="badges"></badges>
        <hr class="hr-break" />
      </div>
      <div *ngIf="participants$ | async as participants; else loadingParticipants">
        <div class="container-header">Friends</div>
        <friends [friends]="participants"></friends>
        <hr class="hr-break" />
      </div>
      <ng-template #loadingParticipants>Loading...</ng-template>

      <div *ngIf="promoterInvite && promoterInvite.length > 0">
        <h1>Will You be a promoter?</h1>
        <app-event-accept [participant]="promoterInvite[0]" ></app-event-accept>
        <hr class="hr-break" />
      </div>
      <div *ngIf="promoters$ | async as promoters; else loadingPromoters">
        <div class="container-header">Promoters</div>
        <friends [friends]="promoters"></friends>
      </div>
      <ng-template #loadingPromoters>Loading...</ng-template>
    </div>
  </div>
  <ng-template #loading>Loading...</ng-template>
  <div class="right">
    <comments>Comments</comments>
  </div>
</div>
