<button *ngIf="stepper" matStepperPrevious type="button" class="Rounded-Rectangle-Button SecondFormBackButton Back-Button">
  <app-arrow class="Back-Arrow" direction="left"></app-arrow>
  <span style="flex: 1 1 auto"></span>
  <span class="Back-Button-Text">Back</span>
</button>

<button *ngIf="!stepper" type="button" class="Rounded-Rectangle-Button SecondFormBackButton Back-Button">
  <app-arrow class="Back-Arrow" direction="left"></app-arrow>
  <span style="flex: 1 1 auto"></span>
  <span class="Back-Button-Text">Back</span>
</button>
