<svg [ngStyle]="{'width': width + 'px', 'height': height + 'px', 'fill': fill }">
  <!-- SVG elements don't have properties, therefore attribute binding is needed
  // https://stackoverflow.com/a/35082700-->
  <use attr.xlink:href="#{{icon}}"></use>
</svg>
