<div class="TemplateContainer">
  <!-- FORM SENT -->
  <div class="LoginRoundedSquare" >
    <div class="auth-square-middle-section-formsent">
      <div class="heart-image">
        <img src="../../assets/img/heart-i-con-activated.png">
      </div>
      <br>
      <span class="text-style-1">You're in!</span><br>
      <span class="text-style-2">Ready to get goin?</span><br>
      <p>Check your e-mail. You just got a confirmation
        that lets you know we know that you want to
        get to getting and giving the badges. Thanks!
      </p>

      <p>
        If you did not recieve your e-mail please <a href="mailto:support@bringonthegood.com">Click Here</a>
      </p>
    </div>
  </div>

</div>

<img src="/assets/img/give-your-top-staff.png" srcset="/assets/img/give-your-top-staff@2x.png 2x,
             /assets/img/give-your-top-staff@3x.png 3x" class="Give-your-Top-Staff">
<img src="/assets/img/a-badge-with-a-prize.png" srcset="/assets/img/a-badge-with-a-prize@2x.png 2x,
             /assets/img/a-badge-with-a-prize@3x.png 3x" class="A-Badge-with-a-Prize">
<img src="/assets/img/badge-option-1.png" srcset="/assets/img/badge-option-1@2x.png 2x,
             /assets/img/badge-option-1@3x.png 3x" class="BadgeOption1">

<div class="Earn-Badges-Share-the-Reward-This-is-your-year-book-post-high">
  <img src="/assets/img/badge-icons-together.png" srcset="/assets/img/badge-icons-together@2x.png 2x,
             /assets/img/badge-icons-together@3x.png 3x" class="badgeIconsTogether">

  <span class="text-style-1">Earn Badges</span>
  <br />
  <span class="text-style-2">Share the Reward</span>
  <br />
  <span class="text-style-3">This is your year book post highschool. Earn
    basges and take them with you. As you grow
    the world will recognize it and so will your
    company. Also you can earn real prizes and
    rewards! </span>
</div>
<br />
<br />
<div class="LowerBAr"></div>
<div class="footer-container">

  <a href="#">Sales</a>&nbsp;<a href="#">Help</a>&nbsp;<a href="#">FAQ</a>&nbsp;<a href="#">Contact</a>

</div>
