<ul class="list-filter" id="event-notification">
  <li><span class="notification-header-2"><ng-content></ng-content></span></li>
</ul>
<div class="notification-container">
  <div class="friends-card">
    <div class="friends-card-top bg-sky-3">
      <img class="friendsProfilePic" src="/assets/img/dssdf.png" />
    </div>
  </div>
  <div class="notification-details">
    <table class="notification-header">
      <tr>
        <td class="notification-name">Ashley Abby</td>
        <td class="notification-title">NEW BADGE</td>
      </tr>
    </table>
    <p>Hey Congrats on yor new badge. We love having you on the team. Keep up the great work!</p>
    <div class="notifications-reply">Reply</div>
  </div>
  <div class="notification-icons">
    <svg-icon width="20" height="20" icon="icon-HeartIcon"></svg-icon>
    <svg-icon width="20" height="20" icon="icon-starIconActivacted"></svg-icon>
    <svg-icon width="20" height="20" icon="icon-ShareIcon"></svg-icon>
  </div>
</div>

<div class="notification-container">
  <div class="friends-card">
    <div class="friends-card-top bg-sky-1">
      <img class="friendsProfilePic" src="/assets/img/circular-profile.png" />
    </div>
  </div>
  <div class="notification-details">
    <table class="notification-header">
      <tr>
        <td class="notification-name">Devon Anderson</td>
        <td class="notification-title">Commented On Event</td>
      </tr>
    </table>
    <p>Hey Congrats on yor new badge. We love having you on the team. Keep up the great work!</p>
    <div class="notifications-reply">Reply</div>
  </div>
  <div class="notification-icons">
    <svg-icon width="20" height="20" icon="icon-HeartIcon"></svg-icon>
    <svg-icon width="20" height="20" icon="icon-starIconActivacted"></svg-icon>
    <svg-icon width="20" height="20" icon="icon-ShareIcon"></svg-icon>
  </div>
</div>
