.notification-details{

}

.notification-header{

}

.notification-header-2{
  color: #6e6f71;
  text-decoration: none;
  font-family: "din-regular", serif;
  font-size: 14px;
  padding-right: 0;
}

.notification-container p{
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
  padding-right:20px;
}

.notification-name{
  object-fit: contain;
  font-family: "din-medium", serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-right:20px;
}
.notification-title {
  object-fit: contain;
  font-family: "din-medium", serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #485868;
}
.notification-container .friends-card{
  margin-right:20px;
}
.notification-icons{
  display:flex;
  flex-direction: column;
  margin: 0 0 0 auto;
}

#event-notification {
  justify-content: left;
  margin:0;
}

.notification-container {
  border-radius: 6px;
  box-shadow: 0 0 0.2px 0.8px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  padding: 5px;
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
}

.friends-card{
  box-shadow: none;
}


@media (max-width: 768px) {

  #event-notification {
    margin: 0 auto;
    text-align: center;
  }

  .notification-container p {
    padding-right: 0;
  }

  .notification-container{
    max-width: 340px;
    margin: 0 auto 10px auto;
    display:flex;
    flex-direction:column;
  }

  .friends-card{
    margin:0;
    width: 100%;
  }

  .friends-card-top{
    margin: auto;
    width: 100%;
    background-size: 350px 76px;
  }

  .notification-icons {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 auto;
  }
}
