<html>
  <head></head>
  <body>
    <h3>Welcome to the Server.</h3>
    <p>
    </p>
    <h4>Subscribed tables:</h4>
    <ul>
      <% tables.forEach(function(table) { %>
        <li>
          <a href="/<%= table %>"><%= table %></a>
          <% if (noSymbolTables.indexOf(table) === -1) { %>
            <ul>
            <% symbols.forEach(function(symbol) { %>
              <a href="/<%= table %>?symbol=<%= symbol %>"><%= symbol %></a></li>
            <% }) %>
            </ul>
          <% } %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
