.main{
  grid-area: main;
}

.right{
  grid-area: right;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'main main main right right';
  grid-gap: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.grid-container > div {
  text-align: center;
  padding: 0 0;
}

@media (max-width: 1165px) {
  .grid-container {
    grid-template-areas:
      'main'
      'right'
  }
}

@media (max-width: 610px) {
  .grid-container {
    padding:0;
  }
}

ul.list-filter{
  margin-bottom: 0;
}



.Event-Create-Icon {
  width: 22px;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: 0;
  margin-right: 9px;
  position: relative;
  top: 0;
}

.Create-Event-Button {
  width: 133px;
  padding: 5px;
  margin: 0 auto;
  border-radius: 21px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid grey;
  display: flex;
  height:17px;
  position: relative;
  top: -5px;
}

.Create-Event-Button .text {
  -o-object-fit: contain;
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 11px;
  position: relative;
  top: 2px;
  width: auto;
  height: 100%;
}

@media (max-width: 768px) {

  .Create-Event-Button{ margin-top:10px; margin-bottom:5px; }

}
