<div class="badge-creator" *ngIf="settings; else loading">
  <div id="badge-canvas{{index}}" class="Badge-Background" [style.background-color]="settings.bgColor">
    <div class="iframe-drag-bounds" #dragBounds id="container">
      <badge-textarea [settings]="settings" [dragBounds]="dragBounds" rzContainment="container"></badge-textarea>
      <badge-image [settings]="settings" [dragBounds]="dragBounds" rzContainment="container"></badge-image>
    </div>
  </div>
  <badge-picker [settings]="settings"></badge-picker>
</div>
<ng-template #loading>Loading...</ng-template>
