<div class="Picker-Container">
  <div class="Picker">
    <div class="Picker-Text">Background Color</div>
    <div class="Picker-Color">
      <div class="RememberMESquare" (click)="changeBackgroundColor('#9fc2bb')"></div>
      <div class="RememberMESquare-copy-2" (click)="changeBackgroundColor('#f5a46c')"></div>
      <div class="RememberMESquare-copy-3" (click)="changeBackgroundColor('#9aaaba')"></div>
      <div class="RememberMESquare-copy-4" (click)="changeBackgroundColor('#fbe6e1')"></div>
      <div class="RememberMESquare-copy-5" (click)="changeBackgroundColor('#6e6f71')"></div>
      <div class="RememberMESquare-copy-6" (click)="changeBackgroundColor('#bcbdc1')"></div>
      <div class="RememberMESquare-copy-7" (click)="changeBackgroundColor('#485868')"></div>
      <div class="RememberMESquare-copy-8" (click)="changeBackgroundColor('#f27360')"></div>
      <div>
        <img src="/assets/icons/picture-icon.png"
             srcset="/assets/icons/picture-icon@2x.png 2x,
             /assets/icons/picture-icon@3x.png 3x"
             class="PictureIcon" [(colorPicker)]="settings.bgColor">
      </div>
    </div>
  </div>
  <!--
  <div class="Picker">
    <div class="Picker-Text">Badge Color</div>
    <div class="Picker-Color">
      <div class="RememberMESquare" (click)="changeBadgeColor('#9fc2bb')"></div>
      <div class="RememberMESquare-copy-2" (click)="changeBadgeColor('#f5a46c')"></div>
      <div class="RememberMESquare-copy-3" (click)="changeBadgeColor('#9aaaba')"></div>
      <div class="RememberMESquare-copy-4" (click)="changeBadgeColor('#fbe6e1')"></div>
      <div class="RememberMESquare-copy-5" (click)="changeBadgeColor('#6e6f71')"></div>
      <div class="RememberMESquare-copy-6" (click)="changeBadgeColor('#bcbdc1')"></div>
      <div class="RememberMESquare-copy-7" (click)="changeBadgeColor('#485868')"></div>
      <div class="RememberMESquare-copy-8" (click)="changeBadgeColor('#f27360')"></div>
      <div>
        <img src="/assets/icons/picture-icon.png"
             srcset="/assets/icons/picture-icon@2x.png 2x,
             /assets/icons/picture-icon@3x.png 3x"
             class="PictureIcon" [(colorPicker)]="settings.badgeColor">
      </div>
    </div>
  </div>-->

  <div class="Picker">
    <div class="Picker-Text">Text Color</div>
    <div class="Picker-Color">
      <div class="RememberMESquare" (click)="changeTextColor('#9fc2bb')"></div>
      <div class="RememberMESquare-copy-2" (click)="changeTextColor('#f5a46c')"></div>
      <div class="RememberMESquare-copy-3" (click)="changeTextColor('#9aaaba')"></div>
      <div class="RememberMESquare-copy-4" (click)="changeTextColor('#fbe6e1')"></div>
      <div class="RememberMESquare-copy-5" (click)="changeTextColor('#6e6f71')"></div>
      <div class="RememberMESquare-copy-6" (click)="changeTextColor('#bcbdc1')"></div>
      <div class="RememberMESquare-copy-7" (click)="changeTextColor('#485868')"></div>
      <div class="RememberMESquare-copy-8" (click)="changeTextColor('#f27360')"></div>
      <div>
        <img src="/assets/icons/picture-icon.png"
             srcset="/assets/icons/picture-icon@2x.png 2x,
             /assets/icons/picture-icon@3x.png 3x"
             class="PictureIcon" [(colorPicker)]="settings.text.color">
      </div>
    </div>

    <div class="Picker-font-element">
      <mat-form-field class="font">
        <mat-select placeholder="Font" [(value)]="settings.text.font">
          <mat-option *ngFor="let font of fonts" [value]="font" [ngStyle]="{'font-family': font }" >
            {{font}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="fontSize">
        <mat-select placeholder="Font Size" [(value)]="settings.text.fontSize">
          <mat-option *ngFor="let fontSize of sizes" [value]="fontSize">
            {{fontSize}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

</div>
