

.Picker-Container{
  margin-top:20px;
  padding: 0 10px;
}

.Picker{

}

.Picker-Color{
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.Picker-Color div {
  cursor: pointer;
}

.Picker-Text {
  width: auto;
  height: auto;
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
}

.RememberMESquare {
  width: 23px;
  height: 21px;
  object-fit: contain;
  border-radius: 2.4px;
  background-color: #9fc2bb;
}

.RememberMESquare-copy {
  width: 23px;
  height: 21px;
  object-fit: contain;
  border-radius: 2.4px;
  background-color: #f3c766;
}

.RememberMESquare-copy-2 {
  width: 23px;
  height: 21px;
  object-fit: contain;
  border-radius: 2.4px;
  background-color: #f5a46c;
}

.RememberMESquare-copy-3 {
  width: 22px;
  height: 21px;
  object-fit: contain;
  border-radius: 2.4px;
  background-color: #9aaaba;
}

.RememberMESquare-copy-4 {
  width: 23px;
  height: 21px;
  object-fit: contain;
  border-radius: 2.4px;
  background-color: #fbe6e1;
}

.RememberMESquare-copy-5 {
  width: 23px;
  height: 21px;
  object-fit: contain;
  border-radius: 2.4px;
  background-color: #6e6f71;
}

.RememberMESquare-copy-6 {
  width: 23px;
  height: 21px;
  object-fit: contain;
  border-radius: 2.4px;
  background-color: #bcbdc1;
}

.RememberMESquare-copy-7 {
  width: 22px;
  height: 21px;
  object-fit: contain;
  border-radius: 2.4px;
  background-color: #485868;
}

.RememberMESquare-copy-8 {
  width: 23px;
  height: 21px;
  object-fit: contain;
  border-radius: 2.4px;
  background-color: #f27360;
}

.PictureIcon {
  width: 26px;
  height: 21px;
  object-fit: contain;
}

/*.fontSize{
  width: 75px;
  margin-right: 10px;
}*/

.Picker-font-element {
  display: flex;
  justify-content: space-between;
}

.fontSize {
  width: 71px;
  margin-left: 21px;
}
.font{
  width:100%;
}
