.event-container {
  display: flex;
  border-radius: 6px;
  box-shadow: 0 0 0.2px 0.8px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  padding: 10px;
  min-width: 500px;
  flex-direction: column;
  height: auto;
}




table.event-stats {
  height: 70%;
}

.event-sub-container {
  display: flex;
  flex-direction: row;
  height: auto;
}



.event-sub-container-2 {
  display: flex;
  height: auto;
  margin-top: 10px;
}



.event-image img {
  width: 178px;
  height: 133px;
  object-fit: contain;
  margin-right: 20px;
  margin-top: 16px;
  border: 2px solid gray;
  border-radius: 24px;
}



.event-description h1 {
  width: auto;
  object-fit: contain;
  font-family: "din-medium", serif;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.event-description p {
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
}

.event-icons {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 auto;
  cursor: pointer;
  padding-left: 20px;

}

.badge-3 {
  left: 16px;
  top: 11px;
  width: 30px;
  height: 30px;
  position: relative;
}

.badge2-copy {
  width: 21px;
  height: 21px;
  object-fit: contain;
  background-blend-mode: lighten;
  background-image: linear-gradient(to bottom, #f27360, #f27360);
  margin-right: 16px;
  margin-top: auto;
  margin-bottom: 0;
}

.badge-text-number {
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  position: relative;
  top: -3px;
  margin-top: auto;
  margin-bottom: 0;
  width: 100px;
}

.EventRoundedSquareButtons {
  margin: auto 0 auto auto;
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
}


.EventRoundedSquareButtons .text {
  top: 14px;
  -o-object-fit: contain;
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 27px;
  position: relative;
  width: auto;
  height: 100%;
}

.event-participants {
  display: flex;
}


.event-stats td.time-left-header {
  padding-right: 20px;
}

.event-stats td.time-left {
  position: relative;
  top: -2px;
}

.time-left-header {
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  vertical-align: top
}

.time-left {
  object-fit: contain;
  font-family: 'din-regularalternate', serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}


.draft-text {
  color: #f27360;
}

.event-area {
  width: 100%;
  margin-right: 20px;
}

.event-area.ng-star-inserted {
  margin-top: 10px;
}

.grid-container>div {
  text-align: center;
  padding: 0 0;
}

@media (max-width: 768px) {

  .event-container {
    max-width: 340px;
    min-width: inherit;
    margin: 0 auto 10px auto;
    display: inline;
  }

  .event-image img {
    margin-right: 0;
    width: auto;
    max-width: 340px;
    height: auto;
    border: 2px solid gray;
    border-radius: 24px;
  }

  .event-icons {
    flex-direction: row;
    margin: 12px 0 0 4px;
  }

  .event-icons svg-icon {
    padding-right: 10px;
  }

  .event-participants {
    margin-top: 10px;
    flex-direction: row;
  }

  .event-sub-container,
  .EventRoundedSquareButtons,
  .event-sub-container-2 {
    flex-direction: column;
  }

  .EventRoundedSquareButtons div {
    width: 100%;
    margin: 0;
  }

  .EventRoundedSquareButtons {
    margin: 20px 1px;
  }

  .event-sub-container {
    height: auto;
  }

  .event-sub-container-2 {
    height: auto;
    margin: 10px 0;
  }

  .event-image {
    text-align: center;
  }

  td.time-left-header {
    vertical-align: top;
  }

}

@media (max-width: 610px) {

  .event-sub-container,
  .event-sub-container-2 {
    margin: 10px;
  }

  .Rounded-Rectangle-Button {
    width: 50%!important;
    margin: auto!important;
  }
}
