<div class="badge">
  <div class="flex-grid-main">
    <div class="col-fourth">
      <div class="badge-container">
        <ul class="badge-filter">
          <li><a href="#">All</a></li>
          <li><a href="#">Joined</a></li>
          <li class="search">
            <div class="input-container">
              <input [(ngModel)]="searchText" (ngModelChange)="searchHandler($event)" class="input-field"
                placeholder="Search" />
              <i class="fas fa-search icon-search"></i>
              <svg-icon width="15" height="15" fill="grey" icon="icon-search" class="icon-search"></svg-icon>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-three-fourth">
      <div class="badge-container">
        <ul class="badge-filter">
          <li><a>Favorites</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex-grid-main"> 
    <!-- orgs list start -->
    <div class="col-fourth">
      <div class="badge-card-container">
        <div class="event-area">
          

          <!-- from server start-->
          <div class="event-container" *ngFor="let org of orgs">
            <div class="event-sub-container">
              <div class="event-image">
                <img *ngIf="!org.companyLogo" [src]=" '/assets/img/default-company-logo2.jpg'" />
                <img *ngIf="org.companyLogo" [src]="org.companyLogo" />
              </div>
              <div class="event-description">
                <h1>{{org.orgName}}</h1>
                
                <!--<div class="Members"><div class="members">Members</div><div class="member-count">23</div></div>-->
                <table class="event-stats">
                    <tr>
                        <td class="time-left-header">Location:</td>
                        <td class="time-left">{{org.officeAddress}}</td>
                      </tr>
                    <tr>
                        <td class="time-left-header">Description:</td>
                        <td class="time-left">{{ (org.description.length>33)? (org.description |
                            slice:0:100)+'...':(org.description) }}</td>
                      </tr>
                  <tr>
                    <td class="time-left-header">Website</td>
                    <td class="time-left"><a href="http://{{org.website}}">{{org.website}}</a></td>
                  </tr>
                  <tr>
                    <td class="time-left-header">Status</td>
                    <td class="time-left">{{org.status}} </td>
                  </tr>
                </table>
              </div>

            </div>
            <div class="event-sub-container-2">
              <div class="event-participants">
                <img src="/assets/img/badge-2-copy.png" srcset="/assets/img/badge-2-copy@2x.png 2x,
                             /assets/img/badge-2-copy@3x.png 3x" class="badge2-copy">
                <div class="badge-text-number">7</div>
              </div>

              <div class="EventRoundedSquareButtons" routerLink="/organization/{{org._id}}">
                <div class="Rounded-Rectangle-Button">
                  <img width="39" height="39" src="/assets/img/badge-3.png"
                    srcset="/assets/img/badge-3@2x.png 2x,/assets/img/badge-3@3x.png 3x" class="badge-3">
                  <span class="text">Visit</span>
                  <span style="flex: 1 1 auto"></span>
                </div>
                <br />
              </div>
            </div>
          </div>
          <!-- from server -->
        </div>
        <ng-template #loading>Loading...</ng-template>

      </div>
    </div>
    <!-- orgs list end -->
    <div class="col-three-fourth">
      <div class="badge-card-container-favorites">
        <div class="badge-card">
          <img src="/assets/img/high-s-chool-logo.png" srcset="/assets/img/high-s-chool-logo@2x.png 2x,
             /assets/img/high-s-chool-logo@3x.png 3x" class="HighSchoolLogo">
          <div class="badge-card-top">
            <img src="/assets/img/badges/BadgeExample1.jpg" />
          </div>
        </div>
        <div class="badge-card-container-right">
          <h1 class="badge-card-header">Perfect Attendance</h1>
          <p class="badge-card-paragraph">Throughout the School year we know it’s
            not always easy to wake up and learn
            everyday. But, some howy ou did it!</p>
          <div class="reward-claimed-container">
            <!--<h1 class="Reward">Reward</h1>-->
            <h1 class="Claimed">Claimed 10/28/2018</h1>
          </div>
          <p class="badge-card-paragraph">
            You can come to the office anytime you like
            and view your perminent record.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
