.h1-nav-breadcrumb {
  width: 133px;
  height: 20px;
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9fc2bb;
  padding-bottom: 10px;
  border-bottom: 10px solid #9fc2bb;
}
