<div class="nav-sub-container">
  <div class="nav-sub-element">
    <img routerLink="{{link}}" src="/assets/img/big-arrow-top-l-eft.png"
         srcset="/assets/img/big-arrow-top-l-eft@2x.png 2x,
           /assets/img/big-arrow-top-l-eft@3x.png 3x"
         class="BigArrowTopLEft" />
    <h1 class="h1-nav-breadcrumb"><ng-content></ng-content></h1>
  </div>
</div>
