<div class="component-container" [formGroup]="parentForm">
  <!--<div class="component-text">Category Template</div>-->
  <mat-form-field>
    <mat-select [ngClass]="{'error': isValid('category')}" placeholder="Category" [formControlName]="'category'" #categorySelect>
      <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
    </mat-select>
    <!--<mat-error *ngIf="parentForm.get('category').hasError('required') && formTemplate.submitted">Event Category is required</mat-error>-->
    <mat-error *ngIf="categorySelect.errorState && parentForm.get('category').hasError('required')">Event Category is required</mat-error>
  </mat-form-field>
</div>
