<nav-breadcrumb link="/organization">View Org</nav-breadcrumb>
<div class="grid-container">
  <div class="main">
    <div class="event-component-container">
      <div *ngIf="org" class="org-container">
        <div class="org-header">
          <div class="org-company-logo">
            <img *ngIf="!org.companyLogo" [src]=" '/assets/img/default-company-logo.jpg'" />
            <img *ngIf="org.companyLogo" [src]="org.companyLogo" />
          </div>
          <div class="org-name">
            <h1>{{org.orgName}}</h1>
          </div>
          <div class="org-status">


            <div class="EventRoundedSquareButtons">
              <div class="Rounded-Rectangle-Button">
                <img width="39" height="39" src="/assets/img/badge-3.png"
                  srcset="/assets/img/badge-3@2x.png 2x,/assets/img/badge-3@3x.png 3x" class="badge-3">
                <span class="text">FOLLOW</span>
                <span style="flex: 1 1 auto"></span>
              </div>
            </div>
            <div class="EventRoundedSquareButtons">
              <app-button type="button">ADD A REVIEW</app-button>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="org" class="org-container body">
        <div class="org-body">
          <div class="org-body-title">
            <h2>{{org.orgName}} Overview</h2>
          </div>
          <table class="orverview-table">
            <tr>
              <td class="title"><strong>Status:</strong></td>
              <td><i *ngIf="org.status==='active'" data-title="Approved" class="fas fa-certificate"> </i><span
                  *ngIf="org.status==='active'" style="color:#639a71"> ACTIVE </span>
                <i *ngIf="org.status!=='active'" data-title="Pending" class="fas fa-exclamation-circle"></i><span
                  *ngIf="org.status!=='active'" style="color:#f27261"> PENDING </span> </td>
              <td class="title"><strong>Date Established:</strong></td>
              <td>{{org.dateEstablished |  date:'MM/dd/yyyy'}}</td>
            </tr>
            <tr>
              <td class="title"><strong>Website:</strong></td>
              <td><a href="http://{{org.website}}">{{org.website}}</a></td>
              <td class="title"><strong>Address:</strong></td>
              <td>{{org.officeAddress}}</td>
            </tr>
            <tr>
              <td class="title"><strong>Submitted By:</strong></td>
              <td>{{org.submittedBy}}</td>
            </tr>
          </table>

          <table class="orverview-table-mobile">
            <tr>
              <td class="title"><strong>Status:</strong></td>
              <td><i *ngIf="org.status==='active'" data-title="Approved" class="fas fa-certificate"> </i><span
                  *ngIf="org.status==='active'" style="color:#639a71"> ACTIVE </span>
                <i *ngIf="org.status!=='active'" data-title="Pending" class="fas fa-exclamation-circle"></i><span
                  *ngIf="org.status!=='active'" style="color:#f27261"> PENDING </span> </td>

            </tr>
            <tr>
              <td class="title"><strong>Date Established:</strong></td>
              <td>{{org.dateEstablished |  date:'MM/dd/yyyy'}}</td>
            </tr>
            <tr>
              <td class="title"><strong>Website:</strong></td>
              <td><a href="http://{{org.website}}">{{org.website}}</a></td>

            </tr>
            <tr>
              <td class="title"><strong>Address:</strong></td>
              <td>{{org.officeAddress}}</td>
            </tr>
            <tr>
              <td class="title"><strong>Submitted By:</strong></td>
              <td>{{org.submittedBy}}</td>
            </tr>
          </table>

          <div class="org-description">
            <h4>Description</h4>
            <p>{{org.description}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="!org">
        Loading . . .
      </div>
    </div>
  </div>
</div>
