.main {
  grid-area: main;
}

.right {
  grid-area: right;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'main main main main right';
  grid-gap: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.org-container {
  display: flex;
  border-radius: 6px;
  /* box-shadow: 0 0 0.2px 0.8px rgba(0, 0, 0, 0.08); */
  /* box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.08); */
  box-shadow: 0 0 0.2px 0.8px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  padding: 10px;
  min-width: 500px;
}

.org-company-logo img {
  width: 178px;
  height: 133px;
  object-fit: contain;
  margin-right: 20px;
}


.org-header {
  display: inherit;
  width: 100%;
}

.org-status {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.org-status span {
  margin-left: 6px;
}

.org-name {
  display: flex;
  align-items: flex-end;
  width: 80%;
}

i.fas.fa-certificate.ng-star-inserted {
  color: goldenrod;
  font-size: 22px;
}

i.fas.fa-exclamation-circle.ng-star-inserted {
  color: #3a3a3a;
  font-size: 22px;
}

.org-name h1 {
  margin-bottom: 0px;
}

.org-body {
  width: 100%;
}

.org-body table {
  width: 100%;

}

td.title {
  width: 150px;
  padding: 5px 0;
}

.org-description {
  margin-top: 35px;
  width: 100%;
}

.org-container.body {
  width: 50%;
  margin-bottom: 100px;
}

h1 {
  font-family: "din-regularalternate", serif;
}

h2 {
  font-family: "din-regularalternate", serif;
}

td {
  font-family: "din-regularalternate", serif;
}

h4 {
  font-family: "din-regularalternate", serif;
}

p {
  font-family: "din-regularalternate", serif;
}

span {
  font-family: "din-regularalternate", serif;
}


.Rounded-Rectangle-Button {
  align-items: center;
  width: 200px;
  margin-left: 10px;
}

.Rounded-Rectangle-Button img {
  margin-left: 20px;
}

.orverview-table-mobile {
  display: none;
}

@media (max-width: 785px) {

  .orverview-table-mobile {
    display: unset;
  }

  .orverview-table {
    display: none;
  }

  .org-container {
    display: contents;
  }

  .org-company-logo {
    text-align: center;
  }

  button.large-button-component.no-icon {
    width: 200px;
    margin: auto !important;
    margin-left: 0px !important;
  }



  .Rounded-Rectangle-Button {
    width: 150px !important;
    margin: 5px auto !important;
    margin-left: 0 !important;
  }

  .org-status {
    display: contents !important;
    text-align: center !important;
  }

  .EventRoundedSquareButtons {
    margin: auto;
  }

  td {
    vertical-align: top;
  }


}
