.friend-invite-button{
  width:407px;
  margin-bottom:10px;
}

.friend-invite-button-mat {
  margin-bottom:10px;
}
.friends-form{
  padding:20px;
  text-align: center;
}
.mat-form-field-infix{
  padding:10px;
}

.loadingGif{
  background: url('/assets/img/loading.gif') -231px -209px
}
