<button mat-raised-button (click)="openDialog()" class="friend-invite-button-mat">Invite Friends/Co-Workers/Employees</button>
<!--<div *ngIf="friends && friends.length < 1;" class="Rounded-Rectangle-Button friend-invite-button" (click)="openDialog()" >
  <span class="Login">Invite Friends/Co-Workers/Employees</span>
  <span style="flex: 1 1 auto"></span>
  <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x" class="Arrow2" />
</div>-->
