<h1 mat-dialog-title>Invite Friends/Co-Workers/Employees</h1>
<div mat-dialog-content>
  <div [hidden]="!loading" class="loadingGif"></div>
  <form [hidden]="loading" [formGroup]="form" (ngSubmit)="onSubmit()" class="friends-form">
    <div>
      <mat-form-field>
        <input class="friends-form-email" [ngClass]="{'error': isValid('email')}" matInput placeholder="Email" type="email" formControlName="email"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Pick One" formControlName="relationship">
          <mat-option *ngFor="let relationship of relationships" [value]="relationship">
            {{relationship}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button style="display: none" mat-raised-button color="primary" type="submit">Register</button>
    <br />


    <div [hidden]="!loading" class="Rounded-Rectangle-Button" (click)="onSubmit()">
      <span class="Login">Invite</span>
      <span style="flex: 1 1 auto"></span>
      <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x" class="Arrow2" />
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <!--<button mat-button [mat-dialog-close]="badge" cdkFocusInitial>Ok</button>-->
</div>
