<div class="Add-Badges">Add Badges</div>

<ul class="list-filter list-filter-badges">
  <li>
    <app-button type="button" [selected]="selected[0]" size="small" icon="icon-notifications" (onClick)="oneWinner()">One Winner</app-button>
  </li>
  <li>
    <app-button type="button" [selected]="selected[1]" size="small" icon="icon-trophy" (onClick)="multipleWinner()">1st 2nd 3rd</app-button>
  </li>
  <li>
    <app-button type="button" [selected]="selected[2]" size="small" icon="icon-participation" (onClick)="participation()">Participation</app-button>
  </li>
  <li>
    <badge-choose (valueChange)='handleBadgeSelection($event)'>My Badges</badge-choose>
  </li>
</ul>



<form [formGroup]="parentForm" (ngSubmit)="onSubmitSecondForm()" #secondForm="ngForm">
  <badge-form-add [parentForm]="parentForm"></badge-form-add>

  <div class="SecondFormActionButtons">
    <div *ngIf="saving" class="loadingGif"></div>
    <app-back-button *ngIf="!saving" matStepperPrevious></app-back-button>
    <app-button type="submit" *ngIf="!saving">Next</app-button>
  </div>
</form>
