.list-filter-badges{
  margin-top:10px;
  justify-content: space-between;
}

.Add-Badges {
  object-fit: contain;
  font-family: 'din-regularalternate', serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
  margin-bottom:20px;
}

.SecondFormBackButton{
  margin:0;
}
.SecondFormActionButtons{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.loadingGif{
  width: 200px;
  display: flex;
  margin: 0 auto;
  height: 200px;
  background: url('/assets/img/loading.gif') -294px -200px;
}
