textarea.text-container {
  background: transparent;
  color: white;
  resize: none;
  border: 0 none;
  width: 100%;
  outline: none;
  height: 100%;
  position: absolute;
  text-align:center;
  padding:0;
  margin:0;
  overflow: hidden;
}

.iframe-resize-container:hover{
  outline:1px solid white;
}


.ng-resizable-handle{
  visibility: hidden;
}
.iframe-resize-container:hover .ng-resizable-handle{
  visibility: visible;
}



textarea.text-container:focus{
  outline:1px solid white;
}

.resizingText{
  outline:1px solid white;
}

.text-resize-drag-container{
  width:100px; height:50px; z-index: 1000; position:absolute;
}

.ng-resizable-handle.ng-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{clip:auto;white-space:normal;position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}.ng-resizable{position:relative}.ng-resizable-handle{position:absolute;font-size:.1px;display:block;touch-action:none}.ng-resizable-handle.ng-resizable-e{cursor:e-resize;width:7px;right:-5px;height:100%;top:0}.ng-resizable-handle.ng-resizable-w{cursor:w-resize;width:7px;left:-5px;height:100%;top:0}.ng-resizable-handle.ng-resizable-s{cursor:s-resize;height:7px;bottom:-5px;width:100%;left:0}.ng-resizable-handle.ng-resizable-n{cursor:n-resize;height:7px;top:-5px;width:100%;left:0}.ng-resizable-handle.ng-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}.ng-resizable-handle.ng-resizable-sw{cursor:sw-resize;width:12px;height:12px;left:1px;bottom:1px}.ng-resizable-handle.ng-resizable-ne{cursor:ne-resize;width:12px;height:12px;right:1px;top:1px}.ng-resizable-handle.ng-resizable-nw{cursor:nw-resize;width:12px;height:12px;left:1px;top:1px}.ng-resizable-diagonal{box-sizing:border-box;width:0;height:0;border-bottom:12px solid #FFF;border-left:12px solid transparent}

.text-resize-drag-container{
  width:100px; height:50px; z-index: 1000; position:absolute;
}


