<div [ngClass]="{'resizingText' : showBorder}" class="iframe-resize-container text-resize-drag-container"
     [rzAspectRatio]="aspectRatio"
     ngResizable
     rzContainment="#{{rzContainment}}"
     rzHandles="n,s,e,w,se,sw"
     [position]="settings.text.position"
     [bounds]="dragBounds"
     ngDraggable
     (movingOffset)="onMoving($event)"
     [inBounds]="true"
     (rzStart)="onResizeStart($event)"
     (rzStop)="onResizeStop($event)"
     [ngStyle]="{'width': settings.text.width + 'px', 'height': settings.text.height + 'px'}"
>
  <textarea [(ngModel)]="settings.text.name" [ngStyle]="{'color': settings.text.color, 'font-size': settings.text.fontSize + 'px', 'font-family': settings.text.font }" class="text-container"></textarea>
</div>
