<!--<div class="notification-component">
  <mat-menu #appMenu="matMenu" xPosition="before" overlapTrigger="false">
    <div *ngFor="let notification of notifications">
      <button mat-menu-item>You have a new friend request go and look at it</button>
    </div>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon><span class="Notifcations">Notifications</span>&nbsp;<span class="notification_text">{{notifications.length}}</span><img src="/assets/img/ellipse-2.png" class="Ellipse-2" /></mat-icon>
  </button>
</div>-->
<button mat-button [matMenuTriggerFor]="menu">
  <span class="Notifcations">Notifications&nbsp;<span
      class="notification_text">{{notifications? notifications.length:"0"}}</span>
    <svg-icon class="icon-notifications" width="29" height="36" icon="icon-notifications"></svg-icon>
  </span>
</button>
<mat-menu #menu="matMenu" overlapTrigger="false">
  <div class="notif-container" *ngFor="let notification of notifications">
    <div class="notif-image">
      <img *ngIf="notification.thumbnail" class="notification-thumbnail" src="{{notification.thumbnail}}" />
      <img *ngIf="!notification.thumbnail" class="default-thumbnail" src="assets/img/heart-i-con-activated.png" />
    </div>
    <div class="notif-body">
        <button *ngIf="notification.read===true" (click)="viewNotification(notification.path,notification._id)"
        mat-menu-item>{{notification.message}}</button>
      <button *ngIf="notification.read===false" class="new-notification"
        (click)="viewNotification(notification.path,notification._id)" mat-menu-item>{{notification.message}}</button>
    </div>
    


  </div>
</mat-menu>
