.Ellipse-2 {
  width: 29px;
  height: 36px;
  object-fit: contain;
  top: 10px;
  position: relative;
}

.Notifcations {
  width: 73px;
  height: 12px;
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
  vertical-align: top;
  position: relative;
  top: 0px;
}

.notification_text {
  position: absolute;
  margin-left: 12px;
  margin-top: 15px;
  z-index: 10000;
  font-weight: bold;
}

.icon-notifications {
  position: relative;
  top: 10px;
}


button.new-notification.mat-menu-item {
  background-color: #9fc2bb;
}


img.notification-thumbnail {
  width: 100%;
  height: 48px;
  object-fit: cover;
}

button.new-notification {
  width: 100%;
}

div.notif-image {
  width: 20%;
}

div.notif-body {
  width: 70%;
}

.notif-container {
  display: flex;
  height: 50px;
}

img.default-thumbnail.ng-star-inserted {
  width: 90%;
  margin: 5%;
}