<div mat-dialog-content>
  <br>
  <div class="badge-title">
    <h1 mat-dialog-title>{{badge.name}}</h1>
  </div>
  <div class="badge-header" [style.background]="'url(' + badge.image + ')'">



  </div>
  <div class="badge-body">
    <div class="sender-profile-photo">
      <img src="{{badge.user.profilePhoto?badge.user.profilePhoto:'assets/img/noun_profile_888930.png'}}" />
    </div>
    <div class="sender-about">
      <h5>Given By</h5>
      <h3>{{badge.user.firstName}} {{badge.user.lastName}}</h3>
    </div>
  </div>
</div>
<div mat-dialog-actions >
  <mat-checkbox  (change)="toggleCheckbox($event)" >Make Private</mat-checkbox>
  <button mat-button (click)="accept(badgeUserId)" >Accept</button>
  <button mat-button (click)="reject(badgeUserId)">Reject</button>
</div>
