.badge-header {

  height: 315px !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.badge-body {
  width: 100%;
}

.sender-profile-photo img {
  width: 100%;
}

.sender-profile-photo {
  width: 20%;
}

.sender-about {
  width: 80%;
}

.badge-body {
  display: flex;
}
