<div class="Upload-Button" (click)="openDialog()">
  <span class="text">Upload</span>
  <span style="flex: 1 1 auto"></span>
  <svg-icon class="Badge-Upload-Icon"  width="20" height="20" icon="icon-uploadBadge"></svg-icon>
</div>
