.Create-Badge {
  width: 133px;
  height: 20px;
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9fc2bb;
  padding-bottom: 10px;
  border-bottom: 10px solid #9fc2bb;
}



.badge-upload .badge-bg {

}

img.badge-img{
  width: 180px;
  height:115px;
  border-radius: 10px;
  padding:0;
  margin:0;
}

.badge-form{
  margin-left:40px;
}

.badge-form form{
  display: flex;
  flex-direction: column;
}
.badge-upload-grid {

  padding:0;
}


.badge-upload .flex-grid-main {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}
.badge-upload .flex-grid-main .col-fourth {
  width: 100%;
  margin: 0 auto;
}
.badge-upload .flex-grid-main .col-three-fourth {
  width: 65%;
  margin: 0 auto;
}

@media (max-width: 610px){

  .badge-upload .flex-grid-main {
    display:flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-direction:column;
  }
  .badge-upload .badge-card{
    margin: 10px auto;
    padding: 0;
  }

  .badge-upload .flex-grid-main .col-three-fourth{
    width: 92%;
    margin: 0 auto;
    text-align: center;
  }

}

