
<div class="TemplateContainer">
  <div class="LoginRoundedSquare">
    <div class="auth-square-middle-section">
      <img src="/assets/img/unlockicon.png"
           srcset="/assets/img/unlockicon@2x.png 2x,
               /assets/img/unlockicon@3x.png 3x"
           class="unlockicon">
    </div>
    <br />
    <div class="New-Password-Which-one-was-it-Hey-it-happens-to-all-of-usN">
      <div class="text-style-1">
        Forgot Password?
      </div>
      <div class="text-style-2">
        We got your back
      </div>
      <p>Enter the last email you last remember using</p>
    </div>
    <div class="auth-square-middle-section">
      <form (ngSubmit)="forgotpassword()" #userForm="ngForm">
        <mat-form-field>
          <input class="auth-square-input"  matInput placeholder="Email" type="email" name="email" [(ngModel)]="email" autocomplete="email" />
        </mat-form-field>
        <br />
        <button style="display: none" mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </div>
    <div class="Rounded-Rectangle-Button" (click)="forgotpassword()">
      <span class="Login">Forgot Password</span>
      <span style="flex: 1 1 auto"></span>
      <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x" class="Arrow2" />
    </div>
    <br />
  </div>
</div>
<div class="LoginRoundedSquareButtons">
  <div class="Rounded-Rectangle-Button" routerLink="/login">
    <span class="Login">Login</span>
    <span style="flex: 1 1 auto"></span>
    <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x" class="Arrow2" />
  </div>
</div>
<img src="/assets/img/give-your-top-staff.png"
     srcset="/assets/img/give-your-top-staff@2x.png 2x,
             /assets/img/give-your-top-staff@3x.png 3x"
     class="Give-your-Top-Staff">
<img src="/assets/img/a-badge-with-a-prize.png"
     srcset="/assets/img/a-badge-with-a-prize@2x.png 2x,
             /assets/img/a-badge-with-a-prize@3x.png 3x"
     class="A-Badge-with-a-Prize">
<img src="/assets/img/badge-option-1.png"
     srcset="/assets/img/badge-option-1@2x.png 2x,
             /assets/img/badge-option-1@3x.png 3x"
     class="BadgeOption1">

<div class="Earn-Badges-Share-the-Reward-This-is-your-year-book-post-high">
  <img src="/assets/img/badge-icons-together.png"
       srcset="/assets/img/badge-icons-together@2x.png 2x,
             /assets/img/badge-icons-together@3x.png 3x"
       class="badgeIconsTogether">

  <span class="text-style-1">Earn Badges</span>
  <br />
  <span class="text-style-2">Share the Reward</span>
  <br />
  <span class="text-style-3">This is your year book post highschool. Earn
basges and take them with you. As you grow
the world will recognize it and so will your
company. Also you can earn real prizes and
rewards! </span>
</div>
<br />
<br />
<div class="LowerBAr"></div>
<div class="footer-container">

  <a href="#">Sales</a>&nbsp;<a href="#">Help</a>&nbsp;<a href="#">FAQ</a>&nbsp;<a href="#">Contact</a>

</div>
