<div class="event-area" *ngIf="events$ | async as events; else loading">
  <div *ngIf="events.length < 1">There are no events</div>
  <div class="event-container" *ngFor="let event of events">
    <div class="event-sub-container">
      <div class="event-image">
        <img [src]="event.image || '/assets/img/finacailmeetingicon.png'" />
      </div>
      <div class="event-description">
        <h1>{{event.name || 'Event Name'}}<span *ngIf="event.status == 'draft'" class="draft-text">&nbsp;(Draft)</span></h1>
        <p *ngIf="event.location">Location: {{event.location}}</p>
        <p>{{event.description}}</p>
        <!--<div class="Members"><div class="members">Members</div><div class="member-count">23</div></div>-->
        <table class="event-stats">
          <tr>
            <td class="time-left-header">Members</td>
            <td class="time-left">{{event.participants}}</td>
          </tr>
          <tr *ngIf="event.status =='active'">
            <td class="time-left-header">Time Left</td>
            <td class="time-left">{{event.expireDate | amDifference: event.launchDate :'days' : true}} day<span *ngIf="(event.expireDate | amDifference: event.launchDate :'days' : true )> 1">s</span></td>
          </tr>
        </table>
      </div>
      <div class="event-icons">
        <svg-icon width="19" height="19" icon="icon-analytics"></svg-icon>
        <svg-icon (click)="facebookSharing(event._id)" width="20" height="20" icon="icon-ShareIcon"></svg-icon>
        <svg-icon width="20" height="20" icon="icon-Comment"></svg-icon>
        <svg-icon routerLink="/events/{{event._id}}" width="20" height="20" icon="icon-EditIcon" *ngIf="event.status == 'active' && auth.authenticatedUser"></svg-icon>
      <!--   <fb-like url="https://ionicframework.com"></fb-like> -->
      </div>
      
    </div>
    <div class="event-sub-container-2">
      <div class="event-participants">
        <img src="/assets/img/badge-2-copy.png"
             srcset="/assets/img/badge-2-copy@2x.png 2x,
               /assets/img/badge-2-copy@3x.png 3x"
             class="badge2-copy">
        <div class="badge-text-number">7</div>
      </div>

      <div class="EventRoundedSquareButtons" >
        <div *ngIf="type ==='select' && event.status == 'active'  && auth.authenticatedUser " class="Rounded-Rectangle-Button">
          <img width="39" height="39"
               src="/assets/img/badge-3.png"
               srcset="/assets/img/badge-3@2x.png 2x,/assets/img/badge-3@3x.png 3x"
               class="badge-3">
          <span class="text">Get Badge</span>
          <span style="flex: 1 1 auto"></span>
        </div>
        <br />
        <app-button *ngIf="type =='select' && event.status == 'active'" routerLink="/events/view/{{event._id}}" type="button" >View</app-button>
        <app-button routerLink="/events/{{event._id}}" type="button" *ngIf="event.status == 'draft' && type =='select' && auth.authenticatedUser">Edit</app-button>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>Loading...</ng-template>
