.badge-card-title {
  color: #6e6f71;
  font-size: 14.5px;
  font-family: "din-regularalternate", serif;
  margin-bottom: 10px;
  word-break: break-word;
  width: 155px;
}

.Badge-Given {
  text-align: right;
  object-fit: contain;
  font-family: "din-medium", serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #485868;
}

.badge-details-text {
  object-fit: contain;
  margin-top:10px;
  opacity: 1;
  font-family: "din-medium", serif;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}
