

<div class="badge-card-container" *ngIf="badges; else noBadges">
  <div class="badge-card" *ngFor="let badge of badges | filter: searchText">
    
    <div *ngIf="badge.badge" (click)="viewPendingBadge(badge)"  class="badge-card-top" [ngStyle]="{'background-color': badge.bgColor}">
      <img *ngIf="badge.badge.user.profilePhoto" class="badge-profile" [src]="badge.badge.user.profilePhoto">
      <img *ngIf="!badge.badge.user.profilePhoto" class="badge-profile" src="assets/img/noun_profile_888930.png">
      
      <div class="badge-card-name">{{badge.badge.name}}</div>
      <img class="badge-card-image" [src]="badge.badge.image" />
    </div>

    <div *ngIf="!badge.badge"  class="badge-card-top" [ngStyle]="{'background-color': badge.bgColor}">
        <img *ngIf="badge.user.profilePhoto" class="badge-profile" [src]="badge.user.profilePhoto">
        <img *ngIf="!badge.user.profilePhoto" class="badge-profile" src="assets/img/noun_profile_888930.png">
        
        <div class="badge-card-name">{{badge.name}}</div>
        <img class="badge-card-image" [src]="badge.image" />
      </div>






    <div *ngIf="!badge.badge" class="badge-card-bottom">
      <div class="Badge-Given">
        Badge Given
      </div>
      <div class="badge-details-text">
        {{ (badge.description.length>33)? (badge.description | slice:0:33)+'..':(badge.description) }}
      </div>
    </div>
  </div>
</div>
<ng-template #noBadges>
  <p>You don't have any badges.</p>
</ng-template>
