<div class="TemplateContainer">
  <div class="LoginRoundedSquare" *ngIf="!formSent">
    <div class="auth-square-middle-section">
      <form *ngIf="showUserForm" [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field>
          <input class="auth-square-input" [ngClass]="{'error': isValid('firstName')}" matInput placeholder="First Name"
            formControlName="firstName" />
        </mat-form-field>
        <mat-error *ngIf="form.get('firstName').hasError('hasProfanity')">
          <p>* First Name must not contain profanity</p>
        </mat-error>

        <mat-form-field>
          <input class="auth-square-input" [ngClass]="{'error': isValid('lastName')}" matInput placeholder="Last Name"
            formControlName="lastName" />
        </mat-form-field>
        <mat-error *ngIf="form.get('lastName').hasError('hasProfanity')">
          <p>* Last Name must not contain profanity</p>
        </mat-error>
        <div>
          <mat-form-field>
            <input class="auth-square-input" [ngClass]="{'error': isValid('email')}" matInput placeholder="Email"
              type="email" formControlName="email" />
          </mat-form-field>
        </div>
        <mat-error *ngIf="form.get('email').hasError('hasProfanity')">
          <p>* Email must not contain profanity</p>
        </mat-error>
        <div>
          <mat-form-field>
            <input class="auth-square-input" [ngClass]="{'error': isValid('password')}" matInput placeholder="Password"
              type="password" formControlName="password" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input class="auth-square-input" [ngClass]="{'error': isValid('confirmPassword')}" matInput
              placeholder="Confirm Password" type="password" formControlName="confirmPassword" />
          </mat-form-field>

          <mat-error *ngIf="form.errors?.mismatchedFields">Passwords do not match</mat-error>
        </div>

        <re-captcha formControlName="recaptchaReactive" (resolved)="resolved($event)"></re-captcha>
        <!-- <mat-error *ngIf="form.controls.recaptchaReactive.invalid && form.dirty">reCaptcha required</mat-error> -->


      </form>

      
        <app-company-user [formGroup]="companyUserForm" (selectedOrgId)="setOrgId($event)" (resolved)="resolved($event)"
          *ngIf="!showUserForm"></app-company-user>
 

    </div>
    <br />
    <div *ngIf="showUserForm" class="auth-square-middle-section">
      <login-social></login-social>
    </div>

    <div class="auth-square-middle-section">
      <p>or</p>
    </div>
    <div class="auth-square-middle-section">
      <a *ngIf="showUserForm" (click)="toggleForm()" style="cursor:pointer; color:#00496b">Sign up with your
        organization</a>
      <a *ngIf="!showUserForm" (click)="toggleForm()" style="cursor:pointer; color:#00496b">Sign up with a different
        account</a>
    </div>
  </div>

  <!-- FORM SENT -->
  <div class="LoginRoundedSquare" *ngIf="formSent">
    <div class="auth-square-middle-section-formsent">
      <div class="heart-image">
        <img src="../../assets/img/heart-i-con-activated.png">
      </div>
      <br>
      <span class="text-style-1">You're in!</span><br>
      <span class="text-style-2">Ready to get goin?</span><br>
      <p>Check your e-mail. You just got a oncifmation
        that lets you know we know that you want to
        get to getting and giving the badges. Thanks!
      </p>

      <p>
        If you did not recieve your e-mail please <a href="mailto:support@bringonthegood.com">Click Here</a>
      </p>
    </div>
  </div>

</div>
<div class="LoginRoundedSquareButtons">
  <div *ngIf="!formSent && showUserForm" class="Rounded-Rectangle-Button" (click)="onSubmit()">
    <span class="Login">Register</span>
    <span style="flex: 1 1 auto"></span>
    <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x"
      class="Arrow2" />
  </div>



  <div *ngIf="!formSent && !showUserForm" class="Rounded-Rectangle-Button" (click)="onSubmitCompanyUser()">
    <span class="Login">Register</span>
    <span style="flex: 1 1 auto"></span>
    <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x"
      class="Arrow2" />
  </div>


  <br />
  <div *ngIf="!formSent" class="Rounded-Rectangle-Button" routerLink="/login">
    <span class="Login">Login</span>
    <span style="flex: 1 1 auto"></span>
    <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x"
      class="Arrow2" />
  </div>
</div>
<img src="/assets/img/give-your-top-staff.png" srcset="/assets/img/give-your-top-staff@2x.png 2x,
             /assets/img/give-your-top-staff@3x.png 3x" class="Give-your-Top-Staff">
<img src="/assets/img/a-badge-with-a-prize.png" srcset="/assets/img/a-badge-with-a-prize@2x.png 2x,
             /assets/img/a-badge-with-a-prize@3x.png 3x" class="A-Badge-with-a-Prize">
<img src="/assets/img/badge-option-1.png" srcset="/assets/img/badge-option-1@2x.png 2x,
             /assets/img/badge-option-1@3x.png 3x" class="BadgeOption1">

<div class="Earn-Badges-Share-the-Reward-This-is-your-year-book-post-high">
  <img src="/assets/img/badge-icons-together.png" srcset="/assets/img/badge-icons-together@2x.png 2x,
             /assets/img/badge-icons-together@3x.png 3x" class="badgeIconsTogether">

  <span class="text-style-1">Earn Badges</span>
  <br />
  <span class="text-style-2">Share the Reward</span>
  <br />
  <span class="text-style-3">This is your year book post highschool. Earn
    basges and take them with you. As you grow
    the world will recognize it and so will your
    company. Also you can earn real prizes and
    rewards! </span>
</div>
<br />
<br />
<div class="LowerBAr"></div>
<div class="footer-container">

  <a href="#">Sales</a>&nbsp;<a href="#">Help</a>&nbsp;<a href="#">FAQ</a>&nbsp;<a href="#">Contact</a>

</div>
