<div class="badge" *ngIf="profileStatus==='active'">
  <div class="flex-grid-main">
    <div class="col-fourth">
      <!-- <div *ngIf="userProfile">
        <h2>{{userProfile.firstName}} {{userProfile.lastName}}</h2>
      </div> -->
      <div class="badge-container">
        <ul class="badge-filter">
          <li>
            <div class="input-container">
              <input [(ngModel)]="searchText" class="input-field" placeholder="Search" />
              <i class="fas fa-search icon-search"></i>
              <svg-icon width="15" height="15" fill="grey" icon="icon-search" class="icon-search"></svg-icon>

            </div>
          </li>
        </ul>
        <ul class="badge-filter">
          <li>User Badges</li>
        </ul>
      </div>
    </div>
    <div class="col-three-fourth">
      <div class="badge-container">
        <ul class="badge-filter">
          <li><a>Favorites</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex-grid-main">

    <div class="col-fourth">


      <div *ngIf="myBadges$ | async as badges; else loadingBadges">
        <badges [searchText]="searchText" [badges]="badges"></badges>
      </div>
      <ng-template #loadingBadges>No badges available or username not found...</ng-template>


      <div class="badge-container">
        <ul class="badge-filter">
          <li>Created Badges</li>
        </ul>
      </div>
      <!--<badge [badgeType]="'user'"></badge>-->
      <div *ngIf="badges$ | async as badges; else loadingBadges">
        <badges [searchText]="searchText" [badges]="badges"></badges>
      </div>
    </div>
    <div class="col-three-fourth">
      <div class="badge-card-container-favorites">
        <div class="badge-card">
          <img src="/assets/img/high-s-chool-logo.png" srcset="/assets/img/high-s-chool-logo@2x.png 2x,
             /assets/img/high-s-chool-logo@3x.png 3x"
            class="HighSchoolLogo">
          <div class="badge-card-top">
            <img src="/assets/img/badges/BadgeExample1.jpg" />
          </div>
        </div>
        <div class="badge-card-container-right">
          <h1 class="badge-card-header">Perfect Attendance</h1>
          <p class="badge-card-paragraph">Throughout the School year we know it’s
            not always easy to wake up and learn
            everyday. But, some howy ou did it!</p>
          <div class="reward-claimed-container">
            <!--<h1 class="Reward">Reward</h1>-->
            <h1 class="Claimed">Claimed 10/28/2018</h1>
          </div>
          <p class="badge-card-paragraph">
            You can come to the office anytime you like
            and view your perminent record.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="profileStatus==='private'">
  <div class="row">
    <div class="flex-item">
      PROFILE IS PRIVATE
    </div>
  </div>
</div>
<div *ngIf="profileStatus==='failed'">
  <div class="row">
    <div class="flex-item">
      USER DOES NOT EXISTS
    </div>
  </div>
</div>