


<nav-breadcrumb link="/events">
  <span *ngIf="form.value.status == 'active'">Edit Event</span>
  <span *ngIf="form.value.status == 'draft'">Draft Event</span>
</nav-breadcrumb>

<div class="grid-container">
  <div class="main">
    <mat-horizontal-stepper [selectedIndex]="selectedIndex" (selectionChange)="selectionChanged($event)" [linear]="true" #stepper>
      <ng-template matStepperIcon="edit">
        <svg-icon width="12" height="12" icon="icon-done" fill="white"></svg-icon>
      </ng-template>
      <ng-template matStepperIcon="done">
        <svg-icon width="23" height="27" icon="icon-done" fill="white"></svg-icon>
      </ng-template>
      <mat-step [stepControl]="form">
        <form *ngIf="event$ | async; else loading" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate #form1="ngForm">
        <ng-template matStepLabel>Create Event</ng-template>
        <div class="event-creator">
          <div class="badge-designer-container">
            <badge-designer [settings]="settings"></badge-designer>
            <div class="event-category">
              <event-category [formTemplate]="form1" [parentForm]="form"></event-category>
            </div>
          </div>
          <div class="event-form">

              <mat-form-field class="event-input">
                <input class="auth-square-input" matInput placeholder="Name" formControlName="name" />
                <mat-error *ngIf="form.get('name').hasError('required') && form1.submitted">Name is required</mat-error>
                <mat-error *ngIf="form.get('name').hasError('hasProfanity') && form1.submitted">Profanity not allowed</mat-error>
              </mat-form-field>

              <mat-form-field class="event-input">
                  <input class="auth-square-input" matInput placeholder="Location" formControlName="location" />
                  <mat-error *ngIf="form.get('location').hasError('required') && form1.submitted">Location is required</mat-error>
                  <mat-error *ngIf="form.get('location').hasError('hasProfanity') && form1.submitted">Profanity not allowed</mat-error>
                </mat-form-field>

              <mat-form-field class="event-textarea">
                <textarea rows="6" class="auth-square-input" matInput placeholder="Description" formControlName="description"></textarea>
                <mat-error *ngIf="form.get('description').hasError('required') && form1.submitted">Event Description is required</mat-error>
                <mat-error *ngIf="form.get('description').hasError('hasProfanity') && form1.submitted">Profanity not allowed</mat-error>
              </mat-form-field>

              <div class="time-frame-component-container">
                <time-frame [parentForm]="form"></time-frame>
              </div>
              <div class="time-frame-component-container">
                <recurrence [parentForm]="form"></recurrence>
              </div>

              <div class="checkbox-text">
                <mat-checkbox color="primary" [ngClass]="{'error': isValid('turnCommentsOff')}" formControlName="turnCommentsOff">Turn Comments Off</mat-checkbox>
              </div>
              <div class="checkbox-text">
                <mat-checkbox color="primary" [ngClass]="{'error': isValid('makePrivate')}" formControlName="makePrivate">Make Private</mat-checkbox>
              </div>
              <div class="checkbox-text">
                <mat-checkbox color="primary" [ngClass]="{'error': isValid('turnEmailNotificationsOff')}" formControlName="turnEmailNotificationsOff">Turn Email Notifications Off</mat-checkbox>
              </div>

              <button style="display: none" mat-raised-button color="primary" type="submit">Save</button>
              <br />

              <div *ngIf="saving" class="loadingGif"></div>
              <app-button *ngIf="!saving" (click)="onSubmit()">Next</app-button>

          </div>
        </div>
        </form>
        <ng-template #loading>
          Loading Event...
        </ng-template>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Add Badges</ng-template>
        <div *ngIf="form.value.status=='active'" class="edit-event-header">Event Badges</div>
        <hr *ngIf="form.value.status=='active'" class="hr-break" />
        <badges [badges]="badges"></badges>
        <event-add-badges [parentForm]="secondFormGroup" (formSaved)='formSavedStep2($event)'></event-add-badges>
        <div *ngIf="saving" class="loadingGif"></div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Add Participants</ng-template>
        <div class="Add-Badges">Add Participants</div>
        <friend-invite></friend-invite>
        <event-friends (friendChange)='editParticipants($event)' [selectedFriends]="participants" [disabledFriends]="participantsDisabled"></event-friends>
        <hr />
        <div class="Add-Badges">Add Promoters</div>
        <friend-invite></friend-invite>
        <event-friends (friendChange)='editPromoters($event)' [selectedFriends]="promoters" [disabledFriends]="promotersDisabled"></event-friends>
        <form (ngSubmit)="onSubmitThirdForm()">
          <div class="SecondFormActionButtons">
            <app-back-button *ngIf="!saving"></app-back-button>
            <div *ngIf="saving" class="loadingGif" id="LoadingGifStep2"></div>
            <app-button *ngIf="!saving && form.value.status == 'draft'" type="submit">Make Live</app-button>
            <app-button *ngIf="!saving && form.value.status == 'active'" type="submit">Save</app-button>
            <!--<button mat-button (click)="stepper.reset()">Reset</button>-->
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div class="right">
    <div class="">
      <ul class="badge-filter">
        <li><a >Hire a Designer</a></li>
      </ul>
      <div class="badge-card-container-favorites">
        <div class="badge-card">
          <div class="badge-card-top">
            <img src="/assets/img/hire.png" />
          </div>
        </div>
        <div class="badge-card-container-right">
          <h1 class="badge-card-header">Need a specific Badge?</h1>
          <p class="badge-card-paragraph">We have a team of designers that can be
            at your dispoal to help you create that perfect
            badge for an event or series of badges.
          </p>
          <p class="badge-card-paragraph">
            <button class="LearnMore">Learn More</button>
          </p>
        </div>
    </div>
  </div>
</div>

</div>
