.main{
  grid-area: main;
}

.right{
  grid-area: right;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'main main main main right';
  grid-gap: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-areas:
      'main'
      'right'
  }
}

@media (max-width: 610px) {
  .grid-container {
    padding:0;
  }
}





.Create-Badge {
  width: 133px;
  height: 20px;
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9fc2bb;
  padding-bottom: 10px;
  border-bottom: 10px solid #9fc2bb;
}

.Badge-Background {
  width: 340px;
  height: 253px;
  object-fit: contain;
  box-shadow: -0.9px 0.5px 2px 0 rgba(0, 0, 0, 0.2);
  /*border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/
  border-radius:10px;
}
.Badge-Background img {

}

.badge-form{
  margin-left:40px;
}

.badge-form form{
  display: flex;
  flex-direction: column;
}

.HireADesignerGreyBG {
  width: 179px;
  height: 133px;
  object-fit: contain;
  box-shadow: -0.9px 0.5px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #bcbdc1;
}

.LearnMore {
  width: auto;
  height: auto;
  object-fit: contain;
  background-color: #f27360;
  font-family: "din-regularalternate", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  border-radius:5px;
  cursor:pointer;
}

.badge-break {
  height: 2px;
  border-radius:10px;
  background-color: #6E6E6E;
  opacity: 0.3;
}

#MakeLive{
  margin: 0 0 0 auto;
}

.event-creator{
  flex-direction: row;
  display: flex;
}
.event-form {
  width: 100%;
  padding: 0 40px;
}
.event-form{
  display:flex;
  flex-direction: column;
}

.time-frame-component-container{
  margin: 20px 0 0 0;
}
.checkbox-text{
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
  margin-left: 7px;
}

.event-input{
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
}

.event-textarea{
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
}
#SaveEvent{
  margin:0;
}

.event-select{
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
}
.mat-checkbox{
  font-family: "din-regularalternate", serif;
  color: #6e6f71;
}

.badge-designer-container {
  padding: 0 10px;
}

.event-category {
  padding-left: 10px;
  padding-right: 10px;
}

.badge-card-container-right{
  max-width: 400px;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: green !important;
}

/* Do not make it possible to navigate using the header bar */
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.SecondFormActionButtons{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.SecondFormBackButton{
  margin:0;
}
.loadingGif{
  width: 200px;
  display: flex;
  margin: 0 auto;
  height: 200px;
  background: url('/assets/img/loading.gif') -294px -200px;
}

.edit-event-header {
  -o-object-fit: contain;
  object-fit: contain;
  font-family: 'din-regularalternate', serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
  margin-bottom: 20px;
}
