<button type="{{type}}" [ngClass]="{'small-button-component' : size == 'small', 'large-button-component': size == 'large', 'selected': selected, 'no-icon': !icon}" (click)="onClickbutton($event)">
  <span class="text"><ng-content></ng-content></span>
  <span style="flex: 1 1 auto"></span>
  <svg-icon *ngIf="size == 'small' && icon" width="{{iconSize.width}}" height="{{iconSize.height}}" icon="{{icon}}" class="Button-Icon"></svg-icon>
  <app-arrow *ngIf="size == 'large'" direction="right" class="Back-Arrow"></app-arrow>
</button>
