.large-button-component {
  width: 235px;
  height: 49px;
  border-radius: 22px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid grey;
  display: flex;
  padding-right:10px;
}

.large-button-component .text {
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 16px;
  position: relative;
  top: 13px;
  width: auto;
  height: 100%;
}

.large-button-component .Button-Icon {
  width: 22px;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: 0;
  margin-right: 8px;
}

.small-button-component {
  margin: inherit;
  width: 133px;
  padding: 5px;
  border-radius: 21px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid grey;
  display: flex;
  height: auto;
  position: relative;
  top: -5px;
}

.small-button-component .text {
  -o-object-fit: contain;
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 11px;
  position: relative;
  top: 2px;
  width: auto;
  height: 100%;
}

.small-button-component .Button-Icon {
  width: 22px;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: 0;
  margin-right: 0;
  position: relative;
  top: 0;
}


.selected{
  background-color: #fbe6e1;
}

.no-icon{
  padding-bottom:10px;
}
