<div class="badge-card-container" *ngIf="pendingFriends && pendingFriends.length > 0;">
  <div style="cursor: auto;" class="friends-card" *ngFor="let friend of pendingFriends; let i = index">
    <div class="friends-card-top" [ngClass]="{'bg-sky-1': i % 4 === 0, 'bg-sky-2': i % 4 === 1, 'bg-sky-3': i % 4 === 2, 'bg-sky-4': i % 4 === 3, 'friends-card-top-noprofile': !friend.user.profilePhoto}">
      <img *ngIf="friend.user.profilePhoto" class="friendsProfilePic" [src]="friend.user.profilePhoto" />
    </div>
    <div class="friends-card-bottom">
      <div class="friends-card-name"><span style="color:red">(Pending)</span><br />{{friend.user.firstName}}&nbsp;{{friend.user.lastName}}</div>
      <button class="use" (click)="completeInvite(friend)"><span>Confirm</span></button><br />
      <button style="margin-top:10px;" class="use" (click)="removeRequest(friend)"><span>Remove</span></button>
    </div>
  </div>
</div>
<div style="cursor:auto;" class="badge-card-container" *ngIf="friends && friends.length < 1;">
  <div (click)="selectFriend(friend)" class="friends-card disabled" *ngFor="let friend of placeholderFriends; let i = index">
    <div class="friends-card-top" [ngClass]="{'bg-sky-1': i % 4 === 0, 'bg-sky-2': i % 4 === 1, 'bg-sky-3': i % 4 === 2, 'bg-sky-4': i % 4 === 3}">
      <img class="friendsProfilePic" [src]="friend.path" />
    </div>
    <div class="friends-card-bottom">
      <div class="friends-card-name">{{friend.firstName}}&nbsp;{{friend.lastName}}</div>
      <button class="use disabled"><span>Select</span></button>
    </div>
  </div>
</div>
<div class="badge-card-container" *ngIf="friends && friends.length > 0;">
  <div (click)="selectFriend(friend.friend)" class="friends-card" *ngFor="let friend of friends; let i = index" [ngClass]="{'active': selectedFriends.includes(friend.friend._id)}">
    <div class="friends-card-top" [ngClass]="{'bg-sky-1': i % 4 === 0, 'bg-sky-2': i % 4 === 1, 'bg-sky-3': i % 4 === 2, 'bg-sky-4': i % 4 === 3, 'friends-card-top-noprofile': !friend.friend.profilePhoto}">
      <img *ngIf="friend.friend.profilePhoto" class="friendsProfilePic" [src]="friend.friend.profilePhoto" />
      <img *ngIf="!friend.friend.profilePhoto" class="friendsProfilePic" src="assets/img/noun_profile_888930.png" />
      
    </div>
    <div class="friends-card-bottom" [ngClass]="{'no-profile': !friend.friend.profilePhoto}">
      <div class="friends-card-name">{{friend.friend.firstName}}&nbsp;{{friend.friend.lastName}}</div>
      <button class="use" *ngIf="!selectedFriends.includes(friend.friend._id)"><span>Select</span></button>
      <button class="use" *ngIf="selectedFriends.includes(friend.friend._id)"><span>Deselect</span></button>
    </div>
  </div>
</div>
<ng-template #loading>Loading</ng-template>
