<mat-form-field class="example-full-width" [formGroup]='formGroup'>
  <input type="text" placeholder="Company" [ngClass]="{'error': isValid('orgName')}" aria-label="Number" matInput
    [matAutocomplete]="auto" (keydown)="setOrg(null)" (input)="setOrg(null)" formControlName="orgName">
  <mat-autocomplete #auto="matAutocomplete">
    <div>
      <div class="addCompany"><span>Don't See your Company?</span><br><button (click)="displayInviteForm()">Send Invite</button></div>
      
    </div>

    <mat-option class="companies" *ngFor="let option of filteredOptions" [value]="option.orgName"
      (onSelectionChange)="setOrg(option._id)">
      <div class="companyDetailsContainer">
        <div class="companyDetails logo">
          <img *ngIf="option.companyLogo" src="{{option.companyLogo}}" />
          <img *ngIf="!option.companyLogo" [src]=" '/assets/img/default-company-logo2.jpg'" />
        </div>
        <div class="companyDetails name">
          <span>{{option.orgName}}</span>
        </div>
        <div class="companyDetails status">
            <i *ngIf="option.status==='active'" data-title="Approved" class="fas fa-certificate"></i>
        </div>
      </div>
    </mat-option>

  </mat-autocomplete>
</mat-form-field>
<mat-error *ngIf="formGroup.get('orgName').hasError('doesNotExists')">
  <p>* Organization Does not exists</p>
</mat-error>
