

.companyDetails img {
    max-width: 70%;
    margin: auto 5px;
}

.companyDetailsContainer {
    display: flex;
}

.companyDetails.logo {
    width: 33%;
    margin: auto 0;
    display:inherit;
}

.companyDetails.name {
    width: 60%;
    margin: auto 0;
}

i.fas.fa-certificate.ng-star-inserted {
    color: #3fb8ff;
}
.companyDetails.status {
    margin: auto 0;
}

.addCompany{
    text-align: center;
    margin: 10px 0;
}

mat-option.companies {
    height: 85px;
}