<h2 mat-dialog-title>{{data.message}}</h2>
<mat-dialog-content class="mat-typography">
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="data.button" mat-button mat-dialog-close>No Thanks</button>
  <button *ngIf="data.button" mat-button [mat-dialog-close]="true" cdkFocusInitial>{{data.button}}</button>
  <button *ngIf="!data.button" mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
