.TemplateContainer {
  width: 420px;
  margin: -42px auto 0 auto;
}

.LoginRoundedSquare {
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 6px;
  box-shadow: -1.7px 1px 40.4px 2.6px rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  display:flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  margin: -42px auto 0 auto;
  position: relative;
  z-index: 100;
  border: 1px #949494 solid;
}

.LoginRoundedSquareButtons {
  margin: 20px auto 0 auto;
  width: auto;
  height: auto;
  position: relative;
  display:flex;
  flex-direction: column;
}

.Rounded-Rectangle-Button {
  margin: 0 auto;
  width: 235px;
  height: 49px;
  border-radius: 21.6px;
  background-color: #ffffff;
  cursor:pointer;
  border: 1px solid grey;
  display:flex;
}

.Rounded-Rectangle-Button:active{
  border-left: 1px solid #111;
  border-top: 1px solid #111;
}

.Login {
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left:11px;
  position: relative;
  top: 15px;
  width: auto;
  height: 100%;
}

.Back-Arrow {
  margin-top: 3px;
}
.Back-Button-Text{
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-right: 11px;
  position: relative;
  top: 11px;
  width: auto;
  height: 100%;
}

.Arrow2 {
  width: 22px;
  height: 100%;
  object-fit: contain;
  margin-top: 0px;
  margin-right:9px;
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 1024px) {
  .TemplateContainer {
    width: 420px;
  }
}

@media (min-width: 768px) {
  .TemplateContainer {
    width: 420px;
  }
}

@media (max-width: 480px){
  .TemplateContainer {
    width: 100%;
  }
}


.auth-square-middle-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-square-middle-section-formsent {
  font-family: "din-medium", serif;
  padding:0 30px;
}

.auth-square-middle-section-formsent span.text-style-1, .auth-square-middle-section-formsent div.text-style-1 {
  font-size: 49px;
  font-weight: 500;
}
.auth-square-middle-section-formsent span.text-style-2, .auth-square-middle-section-formsent div.text-style-2 {
  font-size: 36px;
  font-family: "din-light", serif;
}

.auth-square-middle-section-formsent p {
  font-size: 14px;
  font-family: "din-light", serif;
}

.auth-square-middle-section-formsent .heart-image{
  text-align: center;
}

.auth-square-middle-section mat-form-field{
  width: 252px;
}

.auth-square-middle-section .mat-form-field{
  display:block;
}

.auth-square-input{
  width:auto;
}

.LowerBAr {
  color:#111;
  object-fit: contain;
  border-bottom: 2px solid grey;
  background: -webkit-image-set( url('/assets/img/lower-b-ar.png') 1x, url('/assets/img/lower-b-ar@2x.png') 2x, url('/assetsimg/lower-b-ar.png@3x.png') 3x );
}

.footer-container{
  margin: 20px auto 20px auto;
  width: 200px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  font-family: "din-regularalternate", serif;
}
.footer-links {
  width: 33px;
  height: 12px;
  object-fit: contain;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
}
.footer-container a{
  text-decoration: none;
  color: #000000;
}
.footer-container a:hover{
  color: #fc561f;
}

.login-earn-badges{
  position: relative;
  z-index:100;
  display:flex;
  flex-direction: column;
}

.badgeIconsTogether {
  /*width: 247px;*/
  width:100%;
  height: 87px;
  object-fit: contain;
}

.Earn-Badges-Share-the-Reward-This-is-your-year-book-post-high {
  width: 280px;
  height: auto;
  object-fit: contain;
  font-family: "din-medium", serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2d3136;
  position:absolute;
  padding: 33px 50px 0px 50px;
  top: 218px;
}

@media (max-width: 1160px) {
  .Earn-Badges-Share-the-Reward-This-is-your-year-book-post-high {
    position:relative;
    top:0;
    margin: 0 auto;
  }
}

.A-Badge-with-a-Prize {
  width: 188px;
  height: 187px;
  object-fit: contain;
  right: 15%;
  position: absolute;
  top: 350px;
}

.BadgeOption1 {
  width: 132px;
  height: 132px;
  object-fit: contain;
  right: 7%;
  position: absolute;
  top: 471px;
}

@media (max-width: 768px) {
  .A-Badge-with-a-Prize, .Give-your-Top-Staff, .BadgeOption1{
    display:none;
  }
}


.Earn-Badges-Share-the-Reward-This-is-your-year-book-post-high .text-style-1 {
  font-size: 49px;
  font-weight: 500;
}

.Earn-Badges-Share-the-Reward-This-is-your-year-book-post-high .text-style-2 {
  font-size: 35px;
  font-family: "din-light", serif;
  position:relative;
  bottom: 10px;
}

.Earn-Badges-Share-the-Reward-This-is-your-year-book-post-high .text-style-3 {
  font-size: 14px;
  font-family: "din-light", serif;
}

.Give-your-Top-Staff {
  width: 158px;
  height: 159px;
  object-fit: contain;
  right: 23%;
  z-index: 1;
  position:absolute;
  top: 257px;
}


.forgot-user-name-password{
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  font-weight: lighter;
  font-family: "din-regularalternate", sans-serif;
}

.forgot-user-name-password:hover{
  text-decoration: none;
  color: #fc561f;
}

.New-Password-Which-one-was-it-Hey-it-happens-to-all-of-usN {
  object-fit: contain;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d3136;
  text-align: center;
}

.New-Password-Which-one-was-it-Hey-it-happens-to-all-of-usN .text-style-1 {
  font-size: 40px;
  font-weight: 500;
  font-family: "din-medium", serif;
}

.New-Password-Which-one-was-it-Hey-it-happens-to-all-of-usN .text-style-2 {
  font-size: 31px;
  font-family: "din-light", serif;
}

.Next-Steps-Container {
  padding:5px;
}

.Next-Steps {
  width: auto;
  height: 16px;
  object-fit: contain;
  font-family: "din-medium", serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  display:inline-block;
}
