.badge-container{

}

.badge-card-container-favorites{
  border-radius: 6px;
  box-shadow: 0 0 0.2px 0.8px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  padding:5px;
  display:flex;
  margin-bottom:20px;
}

.badge-card-container-favorites .badge-card{
  margin:0;
  box-shadow: initial;
  padding:0;
}

.badge-card-container-favorites .badge-card-top img{
  width: 178px;
  border-radius: 10px;
}

.badge-card-container-favorites .badge-card-top {
  display:flex;
  margin-right: 10px;
}

.badge-card-container-favorites .badge-card-paragraph{
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
}

.badge-card-container-favorites .badge-card-container-right {

}

.badge-card-container-favorites .badge-card-header{
  object-fit: contain;
  font-family: "din-regular", serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.Reward {
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.Claimed {
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
}

.reward-claimed-container{
  display:flex;
  justify-content: left;
}

.HighSchoolLogo {
  width: 38px;
  height: 38px;
  object-fit: contain;
  margin-top: 100px;
  margin-left: 10px;
  position: absolute;
}

.badge-profile {
  width: 38px;
  height: 38px;
  object-fit: contain;
  margin-top: 112px;
  margin-left: 10px;
  position: absolute;
  border-radius: 20px;
}

ul.badge-filter {
  z-index: 1;
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  width:100%;
}

.badge-filter li {
  color: #6e6f71;
  text-decoration: none;
  font-family: "din-regular", serif;
  font-size: 14px;
  padding-right:20px;
}

.badge-filter li a {
  color: #6e6f71;
  text-decoration: none;
  font-family: "din-regular", serif;
  font-size: 14px;
  padding-right: 20px;
}

.badge-filter li a:hover{
  color: #f27360;
}

.badge-filter li a.active{
  width: 85px;
  height: 12px;
  object-fit: contain;
  /*border-radius: 3.6px;*/
  color: #f27360;
  border-bottom: 8px #f27360 solid;
  font-weight:500;
}


.my-badges {
  object-fit: contain;

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
}

.my-badges.active{
  font-weight:500;
}

.badge-card-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.badge-card {
  border-radius: 10px;
  margin: 0 7px 10px 0;
  box-shadow: 0px 1px 0.9px 0.1px rgba(110, 111, 113, 0.25);
  border: 1px solid white;
}
.badge-card-top{
  width: 178px;
  text-align:center;
  height: 133px;
  border-radius: 10px 10px 0 0;
}

.badge-card-name{
  position: absolute;
  margin-top: 7px;
  margin-left: 10px;
  color:white;
  font-family: "din-regularalternate", serif;
}
.badge-card-top .badge-card-image {
  width: 178px;
  height: 133px;
  border-radius: 10px 10px 0 0;
}
.badge-card-bottom{
  padding: 12px;
  text-align: center;
}

.badge-card-bottom .use{
  width: 87px;
  object-fit: contain;
  border-radius: 3.6px;
  border: 1px solid #000;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  font-family: "din-regularalternate", serif;
  color: #000;
  font-size:14px;
  background-color:white;
}
.badge-card-bottom .use:active {
  border-left:1px solid grey;
  border-bottom: 1px solid grey;
  color: grey;
}

.badge .flex-grid-main {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
.badge .flex-grid-main .col-fourth {
  width: 100%;
  margin: 0 auto;
}
.badge .flex-grid-main .col-three-fourth {
  width: 65%;
  margin: 0 auto;
}

.Upload-Button {
  width: 100px;
  padding: 5px;
  margin: -7px auto 0 10px;
  border-radius: 21.6px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid grey;
  display: flex;
}
.Upload-Button:active {
  color:black;
  border-top:1px solid black;
  border-left: 1px solid black;
}

.Upload-Button .text{
  -o-object-fit: contain;
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 11px;
  position: relative;
  top: 5px;
  width: auto;
  height: 100%;
}

.Badge-Upload-Icon {
  width: 22px;
  height: 100%;
  object-fit: contain;
  margin-top: 0px;
  margin-right:9px;
  position:relative;
  top: 3px;
}

@media (max-width: 610px){


  ul.badge-filter {
    display:block;
    margin:0;
    text-align:center;
  }
  ul.badge-filter li button {
    margin-top:10px;
  }


  .badge .flex-grid-main {
    display:flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-direction:column;
  }
  .badge .badge-card{
    margin: 10px auto;
    padding: 0;
  }
  .badge-filter li a{
    padding-right:0 !important;
  }
  ul.badge-filter li button {
    margin: 10px 0 0 0;
  }

  .badge .flex-grid-main .col-three-fourth{
    width: 92%;
    margin: 0 auto;
    text-align: center;
  }
  .Upload-Button{
    margin:10px auto 10px auto;
  }

}
