@font-face {
  font-family: 'Troche';
  src: url('/assets/fonts/troche_font_by_keithzo_7ntypes-webfont.woff2') format('woff2'),
  url('/assets/fonts/troche_font_by_keithzo_7ntypes-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'din-blackalternate';
  src: url('/assets/fonts/din-blackalternate-webfont.woff2') format('woff2'),
  url('/assets/fonts/din-blackalternate-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'din-bold';
  src: url('/assets/fonts/din-bold-webfont.woff2') format('woff2'),
  url('/assets/fonts/din-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'din-light';
  src: url('/assets/fonts/din-light-webfont.woff2') format('woff2'),
  url('/assets/fonts/din-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'din-medium';
  src: url('/assets/fonts/din-medium-webfont.woff2') format('woff2'),
  url('/assets/fonts/din-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'din-regular';
  src: url('/assets/fonts/din-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/din-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'din-regularalternate';
  src: url('/assets/fonts/din-regularalternate-webfont.woff2') format('woff2'),
  url('/assets/fonts/din-regularalternate-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kobar';
  src: url('/assets/fonts/kobar-webfont.woff2') format('woff2'),
  url('/assets/fonts/kobar-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Westmeath';
  src: url('/assets/fonts/westmeath_italic-webfont.woff2') format('woff2'),
  url('/assets/fonts/westmeath_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
