.friends-card.disabled {
  opacity: .25;
  cursor: auto;
}

.friends-card {
  border-radius: 10px;
  margin: 0 7px 10px 0;
  box-shadow: 0px 1px 0.9px 0.1px rgba(110, 111, 113, 0.25);
  border: 1px solid white;
  cursor:pointer;
}

.friends-card-top {
  width: 180px;
  text-align: center;
  height: 150px;
  border-radius: 10px 10px 0 0;
}
.friends-card-bottom{
  text-align: center;
  padding: 0 12px 12px 12px;
}

.friends-card-name {
  color: #6e6f71;
  font-size: 14.5px;
  font-family: "din-regularalternate", serif;
  margin-bottom:10px;
}

.friends-card-bottom .use {
  width: 87px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 3.6px;
  border: 1px solid #000;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  font-family: "din-regularalternate", serif;
  color: #000;
  font-size: 14px;
  background-color: white;
}
.friends-card-bottom .use:active {
  border-left:1px solid grey;
  border-bottom: 1px solid grey;
  color: grey;
}

.friends-card-bottom .use.disabled {
  cursor: auto;
}

.friends-card-bottom .use.disabled:active {
  border-left:1px solid black;
  border-bottom: 1px solid black;
  color: black;
}

.friendsProfilePic {
  width: 118px;
  height: 117px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 4px solid white;
  outline: 0;
  margin-top: 14px;
}

.ProfileSquare {
  width: 188px;
  height: 195px;
  object-fit: contain;
}

.ProfileLayer {
  width: 188px;
  height: 79px;
  object-fit: contain;
}

.bg-sky-1{
  background-position-y: 0;
  background: url('/assets/img/layer-5.png') no-repeat;
}
.bg-sky-2{
  background-position-y: 0;
  background: url('/assets/img/layer-3.png') no-repeat;
}
.bg-sky-3{
  background-position-y: 0;
  background: url('/assets/img/layer-6.png') no-repeat;
}
.bg-sky-4{
  background-position-y: 0;
  background: url('/assets/img/layer-7.png') no-repeat;
}
.friends-card.active{
  border: 2px solid #f27360;
}

.friends .flex-grid-main {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
.friends .flex-grid-main .col-fourth {
  width: 100%;
  margin: 0 auto;
}
.friends .flex-grid-main .col-three-fourth {
  width: 65%;
  margin: 0 auto;
}

@media (max-width: 610px){
  .friends .flex-grid-main {
    display:flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-direction:column;
  }
  .friends .friends-card{
    margin: 10px auto;
    padding: 0;
  }
  .friends .flex-grid-main .col-three-fourth{
    width: 92%;
    margin: 0 auto;
    text-align: center;
  }
}
