ul.list-filter {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  width:100%;
}

ul.list-filter li a {
  color: #6e6f71;
  text-decoration: none;
  font-family: "din-regular", serif;
  font-size: 14px;
  padding-right:0px;
  cursor:pointer;
}

ul.list-filter li a:hover{
  color: #f27360;
}

ul.list-filter li a.active{
  width: 85px;
  height: 12px;
  object-fit: contain;
  /*border-radius: 3.6px;*/
  color: #f27360;
  border-bottom: 8px #f27360 solid;
  font-weight:500;
}

.notifications-reply {
  object-fit: contain;
  font-family:'din-regularalternate', serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6f71;
  margin: 50px 0 0 auto;
  width: 50px;
  height:20px;
}

.nav-sub-container {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.small-button {
  width: 133px;
  padding: 5px;
  margin: 0 auto;
  border-radius: 21px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid grey;
  display: flex;
  height:17px;
  position: relative;
  top: -5px;
}

.small-button .text {
  -o-object-fit: contain;
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 11px;
  position: relative;
  top: 2px;
  width: auto;
  height: 100%;
}

.button-padding{
  padding: 0 20px;
}

.hr-break {
  height: 2px;
  border-radius:10px;
  background-color: #6E6E6E;
  opacity: 0.3;
}

.Back-Button{
  padding-left:10px;
}
.BigArrowTopLEft {
  width: 20px!important;
 
}


@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  ul.list-filter{ display:block; }
  .small-button{top:0;}
}

@media (max-width: 480px){
  ul.list-filter{ display:block; }
}


