<div *ngIf="!auth.isAuthenticated" class="nav-home public">
   
</div>
<div *ngIf="auth.isAuthenticated" class="nav-home">
  <div class="row">
    <div class="flex-item">
      <div class="dropdown profile-photo" *ngIf="userProfile" >
        <img *ngIf="auth.isAuthenticated && userProfile.profilePhoto" [src]="userProfile.profilePhoto" class="profilePic" />
        <img *ngIf="auth.isAuthenticated && !userProfile.profilePhoto" src="assets/img/noun_profile_888930.png" class="profilePicNotAuth" />
        <app-profile-dropdown [dropdownOpen]="dropdownOpen" [dropdown]="dropdown" (valueChange)='handleDropdown($event)'></app-profile-dropdown>

        <!-- <h2>{{userProfile.firstName}} {{userProfile.lastName}}</h2> -->
        <br>
        <mat-card-title *ngIf="!userProfile.isNamePrivate"><strong>{{userProfile.firstName}} {{userProfile.lastName}}</strong></mat-card-title>
        <!-- <span class="profile-dropdown"><strong>{{userProfile.firstName}}</strong>&nbsp;<strong>{{userProfile.lastName}}</strong></span> -->
      </div>
      <div class="dropdown" *ngIf="!userProfile && auth.userStatus==='active'">
        <img (click)="toggleDropdown()" *ngIf="auth.isAuthenticated && user.profilePhoto" [src]="user.profilePhoto"
          class="profilePic" />
        <img (click)="toggleDropdown()" *ngIf="auth.isAuthenticated && !user.profilePhoto" src="assets/img/noun_profile_888930.png"
          class="profilePicNotAuth" />

        <app-profile-dropdown [dropdownOpen]="dropdownOpen" [dropdown]="dropdown" (valueChange)='handleDropdown($event)'></app-profile-dropdown>

      </div>
    </div>
  </div>
  <div class="row">
    <!--
    <div class="flex-item"><a href="#">Me</a></div>
    <div class="flex-item"><a href="#">Recent</a></div>
    <div class="flex-item"><a href="#">Global</a></div>
    <div class="flex-item"><a href="#">Create</a></div>
    <div class="flex-item"><a href="#">Give</a></div>
    <div class="flex-item"><a href="#">Friends</a></div>-->
    <ul class="nav-home-menu" *ngIf="auth.userStatus==='active'"> 
      <li><a routerLink="/me" routerLinkActive="active" href="#">Me</a></li>
      <li><a routerLink="/organization" routerLinkActive="active" href="#">Orgs</a></li>
      <li><a routerLink="/events" routerLinkActive="active" href="#">Events</a></li>
      <li><a routerLink="/create" routerLinkActive="active" href="#">Create</a></li>
      <li><a routerLink="/give" routerLinkActive="active" href="#">Give</a></li>
      <li><a routerLink="/friends" routerLinkActive="active" href="#">Friends</a></li>
      <li><a routerLink="/privacy-policy" routerLinkActive="active" href="#">Privacy Policy</a></li>
    </ul>
  </div>

</div>
<!--<mat-toolbar>
  <ul class="nav-home-menu">
    <li><a href="#">Me</a></li>
    <li><a href="#">Recent</a></li>
    <li><a href="#">Global</a></li>
    <li><a href="#">Create</a></li>
    <li><a href="#">Give</a></li>
    <li><a href="#">Friends</a></li>
  </ul>
</mat-toolbar>-->
<div class="nav-home" *ngIf="!auth.isAuthenticated">
  <div class="row">
    <div class="flex-item">
      <div class="dropdown profile-photo" *ngIf="userProfile">
        <img *ngIf="  userProfile.profilePhoto" [src]="userProfile.profilePhoto" class="profilePic" />
        <img *ngIf="!userProfile.profilePhoto" src="assets/img/noun_profile_888930.png" class="profilePicNotAuth" />
        <br>
        <mat-card-title *ngIf="!userProfile.isNamePrivate"><strong>{{userProfile.firstName}} {{userProfile.lastName}}</strong></mat-card-title>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>
<div class="badge" *ngIf="profileStatus==='active'">
  <div class="flex-grid-main">
    <div class="col-fourth">
      <div class="badge-container">
        <ul class="badge-filter">
          <li>
            <div class="input-container">
              <input [(ngModel)]="searchText" class="input-field" placeholder="Search" />
              <i class="fas fa-search icon-search"></i>
              <svg-icon width="15" height="15" fill="grey" icon="icon-search" class="icon-search"></svg-icon>

            </div>
          </li>
        </ul>
        <ul class="badge-filter">
          <li>User Badges</li>
        </ul>
      </div>
    </div>
    <div class="col-three-fourth">
      <div class="badge-container">
        <ul class="badge-filter">
          <li><a>Favorites</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex-grid-main">
    <div class="col-fourth">
      <div *ngIf="myBadges$ | async as badges; else loadingBadges">
        <badges [searchText]="searchText" [badges]="badges"></badges>
      </div>
      <ng-template #loadingBadges>No badges available or username not found...</ng-template>


      <div class="badge-container">
        <ul class="badge-filter">
          <li>Created Badges</li>
        </ul>
      </div>
      <div *ngIf="badges$ | async as badges; else loadingBadges">
        <badges [searchText]="searchText" [badges]="badges"></badges>
      </div>
    </div>
    <div class="col-three-fourth">
      <div class="badge-card-container-favorites">
        <div class="badge-card">
          <img src="/assets/img/high-s-chool-logo.png" srcset="/assets/img/high-s-chool-logo@2x.png 2x,
             /assets/img/high-s-chool-logo@3x.png 3x"
            class="HighSchoolLogo">
          <div class="badge-card-top">
            <img src="/assets/img/badges/BadgeExample1.jpg" />
          </div>
        </div>
        <div class="badge-card-container-right">
          <h1 class="badge-card-header">Perfect Attendance</h1>
          <p class="badge-card-paragraph">Throughout the School year we know it’s
            not always easy to wake up and learn
            everyday. But, some howy ou did it!</p>
          <div class="reward-claimed-container">

            <h1 class="Claimed">Claimed 10/28/2018</h1>
          </div>
          <p class="badge-card-paragraph">
            You can come to the office anytime you like
            and view your perminent record.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
