.Rounded-Rectangle-1 {
  width: 85px;
  height: 12px;
  object-fit: contain;
  border-radius: 3.6px;
  background-color: #f27360;
}

.profile-div {
  margin: 0 auto;
}

.profilePic {
  width: 118px;
  height: 117px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  outline: 0;
  cursor: pointer;
}

.profilePicNotAuth {
  width: 118px;
  height: 117px;
  border-radius: 50%;
  object-fit: cover;
  outline: 0;
  cursor: pointer;
}

.flex-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.row {
  width: auto;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-home {
  margin-top: -65px;
}

.nav-home-no-margin {
  margin-top: 0;
}

.nav-home-menu {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;
  margin: 20px 0 40px 0;
  width: 100%;
}

@media (max-width: 610px) {
  .nav-home-menu {
    padding-left: 0;
    padding-right: 0;
  }
}

.nav-home-menu li a {
  color: #6e6f71;
  text-decoration: none;
  font-family: "din-regularalternate", serif;
  font-size: 20px;
}

.nav-home-menu li a:hover {
  color: #f27360;
}

.nav-home-menu li a.active {
  width: 85px;
  height: 12px;
  object-fit: contain;
  /*border-radius: 3.6px;*/
  color: #f27360;
  border-bottom: 8px #f27360 solid;
}

.dropdown.profile-photo.ng-star-inserted {
  text-align: center;
}

.open-close-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}


.nav-home.public {
  margin-top: 65px!important;
}