.Create-Badge {
  width: 133px;
  height: 20px;
  object-fit: contain;
  font-family: "din-regularalternate", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9fc2bb;
  padding-bottom: 10px;
  border-bottom: 10px solid #9fc2bb;
}

.Badge-Background {
  width: 340px;
  height: 253px;
  object-fit: contain;
  box-shadow: -0.9px 0.5px 2px 0 rgba(0, 0, 0, 0.2);
  /*border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/
  border-radius:10px;
}
.Badge-Background img {

}

.badge-form{
  margin-left:40px;
}

.badge-form form{
  display: flex;
  flex-direction: column;
}

.HireADesignerGreyBG {
  width: 179px;
  height: 133px;
  object-fit: contain;
  box-shadow: -0.9px 0.5px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: #bcbdc1;
}

.LearnMore {
  width: auto;
  height: auto;
  object-fit: contain;
  background-color: #f27360;
  font-family: "din-regularalternate", serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  border-radius:5px;
  cursor:pointer;
}

.badge-break {
  height: 2px;
  border-radius:10px;
  background-color: #6E6E6E;
  opacity: 0.3;
}



.iframe-drag-bounds {
  width: 340px;
  height: 253px;
  position: absolute;
}

.iframe-resize-container {
  position: relative;
  width:150px;
  height:150px;
  z-index: 1;
}

.iframe-drag-handle {
  position: absolute;
  top: 0;
  right: 0;
  height: 2em;
  z-index: 8;
  padding: 0.25em;
  text-align: right;
  cursor:grabbing;
}

.iframe-content {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.ng-resizable-handle.ng-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{clip:auto;white-space:normal;position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}.ng-resizable{position:relative}.ng-resizable-handle{position:absolute;font-size:.1px;display:block;touch-action:none}.ng-resizable-handle.ng-resizable-e{cursor:e-resize;width:7px;right:-5px;height:100%;top:0}.ng-resizable-handle.ng-resizable-w{cursor:w-resize;width:7px;left:-5px;height:100%;top:0}.ng-resizable-handle.ng-resizable-s{cursor:s-resize;height:7px;bottom:-5px;width:100%;left:0}.ng-resizable-handle.ng-resizable-n{cursor:n-resize;height:7px;top:-5px;width:100%;left:0}.ng-resizable-handle.ng-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}.ng-resizable-handle.ng-resizable-sw{cursor:sw-resize;width:12px;height:12px;left:1px;bottom:1px}.ng-resizable-handle.ng-resizable-ne{cursor:ne-resize;width:12px;height:12px;right:1px;top:1px}.ng-resizable-handle.ng-resizable-nw{cursor:nw-resize;width:12px;height:12px;left:1px;top:1px}.ng-resizable-diagonal{box-sizing:border-box;width:0;height:0;border-bottom:12px solid #aaa;border-left:12px solid transparent}



.iframe-resize-container img{
  cursor:grabbing;
}

textarea.text-container:focus, .iframe-resize-container img.dragging, .resizingText{
  border: 1px dashed black;
}

