<div class="badge">
  <div class="flex-grid-main">
    <div class="col-fourth">
      <img routerLink="/create" src="/assets/img/big-arrow-top-l-eft.png"
           srcset="/assets/img/big-arrow-top-l-eft@2x.png 2x,
             /assets/img/big-arrow-top-l-eft@3x.png 3x"
           class="BigArrowTopLEft">
      <h1 class="Create-Badge">Create Badge</h1>
    </div>
  </div>
  <div class="flex-grid-main">
    <div class="col-fourth">
      <div class="badge-card-container">
        <div class="badge-creator">
          <badge-designer [settings]="settings"></badge-designer>
        </div>
        <div class="badge-form">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <badge-form [parentForm]="form"></badge-form>

            <button style="display: none" mat-raised-button color="primary" type="submit">Register</button>
            <br />

            <div class="Rounded-Rectangle-Button" (click)="onSubmit()">
              <span class="Login">Create Badge</span>
              <span style="flex: 1 1 auto"></span>
              <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x" class="Arrow2" />
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="col-three-fourth">
      <ul class="badge-filter">
        <li><a >Creator</a></li>
      </ul>
      <div class="badge-card-container-favorites">
        <div class="badge-card">
          <img src="/assets/img/high-s-chool-logo.png"
               srcset="/assets/img/high-s-chool-logo@2x.png 2x,
             /assets/img/high-s-chool-logo@3x.png 3x"
               class="HighSchoolLogo">
          <div class="badge-card-top">
            <img src="/assets/img/badges/BadgeExample1.jpg" />
          </div>
        </div>
        <div class="badge-card-container-right">
          <h1 class="badge-card-header">Perfect Attendance</h1>
          <p class="badge-card-paragraph">Throughout the School year we know it’s
            not always easy to wake up and learn
            everyday. But, some howy ou did it!</p>
          <div class="reward-claimed-container">
            <!--<h1 class="Reward">Reward</h1>--><h1 class="Claimed">Claimed 10/28/2018</h1>
          </div>
          <p class="badge-card-paragraph">
            You can come to the office anytime you like
            and view your perminent record.
          </p>
        </div>
      </div>
      <hr class="badge-break" />
      <ul class="badge-filter">
        <li><a >Hire a Designer</a></li>
      </ul>
      <div class="badge-card-container-favorites">
        <div class="badge-card">
          <div class="badge-card-top">
            <img src="/assets/img/hire.png" />
          </div>
        </div>
        <div class="badge-card-container-right">
          <h1 class="badge-card-header">Need a specific Badge?</h1>
          <p class="badge-card-paragraph">We have a team of designers that can be
            at your dispoal to help you create that perfect
            badge for an event or series of badges.
          </p>
          <p class="badge-card-paragraph">
            <button class="LearnMore">Learn More</button>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

