notification {
  display:flex;
}

.buttons-container{
  flex-direction: row;
  margin-top:34px;
}

.UpperWallpaper {
  width: auto;
  height: 157px;
  background: -webkit-image-set( url('/assets/img/upper-wallpaper.jpg') 1x, url('/assets/img/upper-wallpaper@2x.jpg') 2x, url('/assets/img/upper-wallpaper@3x.jpg') 3x );
  background-repeat-x: repeat;
}

.WallpaperEvents{
  width: auto;
  height: 92px;
  background: -webkit-image-set( url('/assets/img/layer-11.png') 1x, url('/assets/img/layer-11@2x.png') 2x, url('/assets/img/layer-11@3x.png') 3x );
  background-repeat-x: repeat;
}

._RoundedRectangle {
  width: 156px;
  height: 33px;
  object-fit: contain;
  border-radius: 16.1px;
  background-color: #ffffff;
  cursor:pointer;
  z-index: 100;
}

._RoundedRectangle span {
  font-family: "din-regularalternate", serif;
  object-fit: contain;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.mat-toolbar{
  background:inherit;
  color: inherit;
}

.WallapperSpoace {
  width: auto;
  height: 92px;
  background: -webkit-image-set( url('/assets/img/wallapper-spoace.jpg') 1x, url('/assets/img/wallapper-spoace@2x.jpg') 2x, url('/assets/img/wallapper-spoace@3x.jpg') 3x );
}

.Badge-Keep {
  object-fit: contain;
  font-family: GarmentDistrict;
  font-size: 29.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.WhoaLogoLArger_300Dpi {
  width: 86px;
  height: 31px;
  object-fit: contain;
}

.logo-banner{
  text-align: center;
  padding: 10px 0;
}

.Welcome-to-the-merit-based-social-platofrm {
  margin: 0 auto;
  padding: 5px 0 3px 0;
  width: auto;
  height: auto;
  object-fit: contain;
  font-family: "din-light", serif;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
