<div *ngIf="!auth.isAuthenticated" class="logo-banner">
  <img alt="whoa" src="/assets/img/whoa-logo-l-arger-300-dpi.png" srcset="/assets/img/whoa-logo-l-arger-300-dpi@2x.png 2x,
             /assets/img/whoa-logo-l-arger-300-dpi@3x.png 3x"
    class="WhoaLogoLArger_300Dpi">
  <div class="Welcome-to-the-merit-based-social-platofrm">Welcome to the merit based social platofrm</div>
</div>
<div [ngClass]="{'UpperWallpaper': !auth.isAuthenticated, 'WallapperSpoace': auth.isAuthenticated && !event, 'WallpaperEvents': auth.isAuthenticated && event}">

  <mat-toolbar>

<!-- 
    <img *ngIf="auth.isAuthenticated" src="assets/img/whoa-logo-l-arger-72-dpi.png" srcset="assets/img/whoa-logo-l-arger-72-dpi@2x.png 2x,
    assets/img/whoa-logo-l-arger-72-dpi@3x.png 3x"
      class="WhoaLogoLArger_72Dpi"> -->
<!-- 
    <div *ngIf="auth.isAuthenticated" class="profile-pic">
      <img src="assets/img/profile-pic.png" srcset="assets/img/profile-pic@2x.png 2x,
    assets/img/profile-pic@3x.png 3x"
        class="profilePic">
    </div> -->


    <!--<img *ngIf="auth.isAuthenticated" src="/assets/img/badge-keep.png" srcset="/assets/img/badge-keep@2x.png 2x, /assets/img/badge-keep@3x.png 3x" class="Badge-Keep" />-->
    <!--<button mat-button routerLink="/home" routerLinkActive="mat-accent">Home</button>-->
    <!--<button mat-button routerLink="/app/trade/ethusd" routerLinkActive="mat-accent">Another Tab</button>-->
    <span style="flex: 1 1 auto"></span>
    <div class="buttons-container">
      <button *ngIf="!auth.isAuthenticated" class="_RoundedRectangle"><span>Download App</span></button>
      <button *ngIf="auth.isAuthenticated" class="_RoundedRectangle" (click)="auth.logout()"><span>Logout</span></button>
      <notification *ngIf="auth.isAuthenticated"></notification>
    </div>

    <!--<button *ngIf="!auth.isAuthenticated" mat-button routerLink="/login" routerLinkActive="mat-accent">Login</button>
  <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/register" routerLinkActive="mat-accent">Register</button>-->

    <!--<button *ngIf="auth.isAuthenticated" mat-button routerLink="/user">Welcome {{auth.name}}</button>
  <button *ngIf="auth.isAuthenticated" mat-button (click)="auth.logout()">Logout</button>-->
  </mat-toolbar>
  <!--<notification></notification>-->
</div>
<nav-home></nav-home>
