<form [formGroup]="form" class="profile-dropdown">
  <div class="update-name">
    <mat-form-field class="update-name-field">
      <input class="auth-square-input" matInput placeholder="First Name" type="text" formControlName="firstName" />
    </mat-form-field>
  </div>
  <div class="update-name">
    <mat-form-field class="update-name-field">
      <input class="auth-square-input" matInput placeholder="Last Name" type="text" formControlName="lastName" />
      
    </mat-form-field>
    <mat-error *ngIf="form.get('firstName').hasError('hasProfanity')"><p>* First Name must not contain profanity</p></mat-error>
    <mat-error *ngIf="form.get('lastName').hasError('hasProfanity')"><p>* Last Name must not contain profanity</p></mat-error>
  </div>

  <div class="update-name-button">
    <div class="Profile-Dropdown Rounded-Rectangle-Button" (click)="saveName(form)">
      <span class="Login">Update Display Name</span>
      <span style="flex: 1 1 auto"></span>
      <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x" class="Arrow2" />
    </div>
  </div>
  <br>
</form>
