.update-name {
    margin: 0 15px;
}

mat-form-field.update-name-field.mat-form-field {
    width: 100%;
}

.Profile-Dropdown.Rounded-Rectangle-Button {
  margin-right: 15px;
  border: 1.5px solid #383838;
  border-radius: 25px;
}
