mat-card-subtitle.profile-dropdown {
  margin-bottom: 0px !important;
  margin-left: 10px;
}

mat-list.vanity-url.mat-list.mat-list-base {
  margin-top: 0px;
}

.baseUrl {
  margin-bottom: 10px;
}
.username-input {
  margin: 0px 15px;
}


.Profile-Dropdown.Rounded-Rectangle-Button {
  margin: 0;
  float: right;
  border: 1.5px solid #383838;
  border-radius: 25px;
}

mat-form-field.profile-dropdown.mat-form-field {
  width: 100%;
}

.baseUrl {
  word-break: break-word;
}
#baseUrl{
  color: #048E74;
}

mat-list.vanity-url{
  cursor:pointer;
}

mat-list.vanity-url:hover, mat-list.vanity-url:hover mat-card-subtitle.profile-dropdown{
  text-decoration: underline black solid;
  color:black;
  fill:black;
}
