<mat-list class="vanity-url" (click)="showForm = !showForm">
  <mat-list-item>
    <svg-icon fill="#6e6f71" width="20" height="20" icon="icon-website"> </svg-icon>
    <mat-card-subtitle class="profile-dropdown">Change Your Display URL</mat-card-subtitle>
  </mat-list-item>
</mat-list>




<form [formGroup]="vanityLinkForm" #formDirective="ngForm" *ngIf="showForm">
  <div class="username-input">
    <mat-form-field class="profile-dropdown">
      <div class="baseUrl">
        <a id="baseUrl" href="{{vanityLink}}">{{vanityLink}}</a>
      </div>
      <div class="route">
        <input (keydown)="setUsername(usernameField,$event)" [ngClass]="{'error': isValid('username')}" matInput type="text"
          formControlName="username" #usernameField />

        <mat-error *ngIf="!vanityLinkForm.valid">
      
          <p *ngIf="vanityLinkForm.get('username').hasError('invalidUsername')">* Username must be at least 8 characters long and must not contain special characters!</p>
          <p *ngIf="vanityLinkForm.get('username').hasError('usernameAboveLimit')">* Username must not exceed 50 characters and must not contain special characters!</p>
          <p *ngIf="vanityLinkForm.get('username').hasError('hasProfanity')">* Profanity is not allowed!</p>
        </mat-error>

      </div>

    </mat-form-field>

    <mat-checkbox color="primary" [name]="isNamePrivate" class="example-margin" [checked]="isNamePrivate"
      formControlName="isNamePrivate" (change)="onChangeCheckbox(usernameField)">Make Name private</mat-checkbox><br>
    <mat-checkbox color="primary" [name]="isUrlPrivate" class="example-margin" [checked]="isUrlPrivate" formControlName="isUrlPrivate"
      (change)="onChangeCheckbox(usernameField)">Make Display Url private</mat-checkbox>

    <br>

    <!-- <button type="button" (click)="setUsername(usernameField)">Set</button> -->

    <div class="update-password-button">
      <div class="Profile-Dropdown Rounded-Rectangle-Button" type="button" (click)="setUsername(usernameField)">
        <span class="Login">Update Username</span>
        <span style="flex: 1 1 auto"></span>
        <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x" class="Arrow2" />
      </div>
    </div>
  </div>

</form>
