<div class="friends">
  <div class="flex-grid-main">
    <div class="col-fourth">
      <div class="badge-container">
        <ul class="badge-filter">
          <li><a href="#">Friends</a></li>
          <li><a href="#">Co-Workers</a></li>
          <li><a href="#">Employees</a></li>
        </ul>
      </div>
    </div>
    <div class="col-three-fourth">
      <div class="badge-container">
        <ul class="badge-filter">
          <li><a >Selected Badge</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex-grid-main">
    <div class="col-fourth">
      <friend-invite></friend-invite>
      <friend-select [selectedFriends]="selectedFriends"></friend-select>
      <!--
      <div class="badge-card-container">
        <div (click)="selectFriend(friend)" class="friends-card" *ngFor="let friend of placeholderFriends; let i = index" [ngClass]="{'active': selectedFriend._id === friend._id}">

          <div class="friends-card-top" [ngClass]="{'bg-sky-1': i % 4 === 0, 'bg-sky-2': i % 4 === 1, 'bg-sky-3': i % 4 === 2, 'bg-sky-4': i % 4 === 3}">
            <img class="friendsProfilePic" [src]="friend.path" />
          </div>
          <div class="friends-card-bottom">
            <div class="friends-card-name">{{friend.firstName}}&nbsp;{{friend.lastName}}</div>
            <button class="use"><span>Select</span></button>

          </div>
        </div>
      </div>-->
    </div>
    <div class="col-three-fourth">
      <badge-choose (valueChange)='handleBadgeSelection($event)'>Pick One</badge-choose>
      <div class="badge-card-container-favorites" *ngIf="badge" style="margin-top: 8px;">
        <div class="badge-card">
          <img src="/assets/img/high-s-chool-logo.png"
               srcset="/assets/img/high-s-chool-logo@2x.png 2x,
             /assets/img/high-s-chool-logo@3x.png 3x"
               class="HighSchoolLogo">
          <div class="badge-card-top">
            <img [src]="badge.image" />
          </div>
        </div>
        <div class="badge-card-container-right">
          <h1 class="badge-card-header">{{badge.name}}</h1>
          <p class="badge-card-paragraph">{{badge.description}}</p>
          <div class="reward-claimed-container">
            <!--<h1 class="Reward">Reward</h1>--><h1 class="Claimed">Reward</h1>
          </div>
          <p class="badge-card-paragraph">
            {{badge.prizeDescription}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="Rounded-Rectangle-Button" (click)="onSubmit()" [hidden]="selectedFriends.length < 1 && !badge">
    <span class="Login">Give Badge</span>
    <span style="flex: 1 1 auto"></span>
    <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x" class="Arrow2" />
  </div>
</div>

