
<div class="TemplateContainer">
  <div class="LoginRoundedSquare">
      <div class="auth-square-middle-section">
        <form (ngSubmit)="login()" #userForm="ngForm">
          <mat-form-field>
            <input class="auth-square-input"  matInput placeholder="Email" type="email" name="email" [(ngModel)]="loginData.email" autocomplete="username" />
          </mat-form-field>
          <br />
          <mat-form-field>
            <input class="auth-square-input"  matInput placeholder="Password" type="password" name="password" [(ngModel)]="loginData.password" autocomplete="current-password"/>
          </mat-form-field>
          <br />
          <button style="display: none" mat-raised-button color="primary" type="submit">Login</button>
        </form>
      </div>
      <br />
      <div class="auth-square-middle-section">
        <login-social></login-social>
      </div>
      <br />
      <div class="auth-square-middle-section">
        <a class="forgot-user-name-password" href="#" routerLink="/forgotpassword">Forgot Password</a>
      </div>
  </div>
</div>
<div class="LoginRoundedSquareButtons">
  <div class="Rounded-Rectangle-Button" (click)="login()">
    <span class="Login">Login</span>
    <span style="flex: 1 1 auto"></span>
    <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x" class="Arrow2" />
  </div>
  <br />
  <div class="Rounded-Rectangle-Button" routerLink="/register">
    <span class="Login">I'm New</span>
    <span style="flex: 1 1 auto"></span>
    <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x" class="Arrow2" />
  </div>
</div>
<img src="/assets/img/give-your-top-staff.png"
     srcset="/assets/img/give-your-top-staff@2x.png 2x,
             /assets/img/give-your-top-staff@3x.png 3x"
     class="Give-your-Top-Staff">
<img src="/assets/img/a-badge-with-a-prize.png"
     srcset="/assets/img/a-badge-with-a-prize@2x.png 2x,
             /assets/img/a-badge-with-a-prize@3x.png 3x"
     class="A-Badge-with-a-Prize">
<img src="/assets/img/badge-option-1.png"
     srcset="/assets/img/badge-option-1@2x.png 2x,
             /assets/img/badge-option-1@3x.png 3x"
     class="BadgeOption1">

<div class="Earn-Badges-Share-the-Reward-This-is-your-year-book-post-high">
  <img src="/assets/img/badge-icons-together.png"
       srcset="/assets/img/badge-icons-together@2x.png 2x,
             /assets/img/badge-icons-together@3x.png 3x"
       class="badgeIconsTogether">

  <span class="text-style-1">Earn Badges</span>
  <br />
  <span class="text-style-2">Share the Reward</span>
  <br />
  <span class="text-style-3">This is your year book post highschool. Earn
basges and take them with you. As you grow
the world will recognize it and so will your
company. Also you can earn real prizes and
rewards! </span>
</div>
<br />
<br />
<div class="LowerBAr"></div>
<div class="footer-container">

    <a href="#">Sales</a>&nbsp;<a href="#">Help</a>&nbsp;<a href="#">FAQ</a>&nbsp;<a href="#">Contact</a>

</div>
