<div class="badge-form-add-component-container">
  <form [formGroup]="parentForm" novalidate>
    <div formArrayName="badges">
      <div class="badge-loop" *ngFor="let badge of formData.controls; let i=index">
        <badge-designer index="{{i}}" [settings]="badge.value.settings"></badge-designer>
        <div [formGroupName]="i" class="form-group-loop">
          <badge-form [parentForm]="formData.controls[i]"></badge-form>
          <div class="action-buttons">
            <app-button [iconSize]="{ width: 18, height:18 }" size="small" icon="icon-duplicate" (onClick)="duplicateBadge(badge)">Duplicate</app-button>
            <app-button size="small" icon="icon-RemoveIcon" (onClick)="removeBadge(i)">Remove</app-button>
          </div>
        </div>
        <span *ngIf="formData.controls.length > 1" (click)="removeBadge(i)"> </span>
      </div>
    </div>
  </form>
</div>
