.badge-form-add-component-container, .form-group-loop{
  width:100%;
}
.badge-loop{
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 0 0 0.2px 0.8px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  display:flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 15px;
}

badge-designer{
  padding-right: 20px;
}

.action-buttons{
  margin: 0 0 0 auto;
}
.action-buttons app-button {
  margin-top:10px;
}
