<div class="badge-card-container" *ngIf="badges$ | async as badges; else noBadges">

  <div class="badge-card" *ngFor="let badge of badges">

    <div class="badge-card-top">
      <img class="badge-card-image" [src]="badge.image" />
    </div>
    <div class="badge-card-bottom">
      <div class="badge-card-title">{{badge.name}}</div>
      <button class="use" (click)="useBadge(badge)"><span>Use</span></button>
    </div>
  </div>
</div>
<ng-template #noBadges><p>You don't have any badges.</p></ng-template>
