<div class="badge">
  <div class="flex-grid-main">
    <div class="col-fourth">
      <div class="badge-container">

        <h1>Privacy Policy</h1>

      </div>
    </div>

  </div>
  <div class="flex-grid-main">


    <div class="main-content" data-reactid="15">
      <div>
        <!-- react-text: 17 -->This privacy policy governs your use of the software application Badges
        (“Application”) for mobile devices that was created by&nbsp;Bring on the Good Inc.&nbsp;The
        Application is&nbsp;a mobile kart racing game with multiplayer capabilities.
        <!-- /react-text -->
        <h3 data-reactid="18">What information does the Application obtain and how is it used?</h3>
        <strong data-reactid="19">User Provided Information</strong><!-- react-text: 20 -->The Application
        obtains the information you provide when you download and register the Application.&nbsp;Registration
        with us is optional. However, please keep in mind that you may not be able to use some of the
        features offered by the Application unless you register with us. When you register with us and use
        the Application, you generally provide&nbsp;(a) your name, email address, age, user name, password
        and other registration information; (b) transaction-related information, such as when you make
        purchases, respond to any offers, or download or use applications from us; (c) information you
        provide us when you contact us for help; (d) credit card information for purchase and use of the
        Application, and; (e) information you enter into our system when using the Application, such as
        contact information and project management information. We may also use the information you provided
        us to contact your from time to time to provide you with important information, required notices and
        marketing promotions.
        <!-- /react-text --><strong>Automatically Collected
          Information&nbsp;</strong><!-- react-text: 22 -->In addition, the Application may collect
        certain information automatically, including, but not limited to, the type of mobile device you use,
        your mobile devices unique device ID, the IP address of your mobile device, your mobile operating
        system, the type of mobile Internet browsers you use, and information about the way you use the
        Application.&nbsp;
        <!-- /react-text --><strong>Does the Application collect precise
          real time location information of the device?</strong><!-- react-text: 24 -->This Application
        uses your region to better match you with players closer to you in multiplayer.
        <!-- /react-text --><strong>Do third parties see and/or have access to information
          obtained by the Application?</strong><!-- react-text: 26 -->Only aggregated, anonymized data is
        periodically transmitted to external services to help us improve the Application and our service.&nbsp;We
        will share your information with third parties only in the ways that are described in this privacy
        statement.
        <!-- /react-text -->
        <ul>
          <!-- react-text: 28 -->We may disclose User Provided and Automatically
          Collected Information:
          <!-- /react-text -->
          <li>as required by law, such as to comply with a subpoena, or similar legal
            process=;
          </li>
          <li>when we believe in good faith that disclosure is necessary to protect our
            rights, protect your safety or the safety of others, investigate fraud, or respond to a&nbsp;government
            request;
          </li>
          <li>with our trusted services providers who work on our behalf, do not have
            an&nbsp;independent
            use of the information we disclose to them, and have agreed to adhere&nbsp;to the rules set
            forth in this privacy statement.
          </li>
          <li>if Bring on the Good Inc.&nbsp;is involved in a merger, acquisition, or
            sale of all or a&nbsp;portion of its assets, you will be notified via email and/or a
            prominent notice on our Web site of any change in ownership or uses of this information, as
            well as any choices you may have regarding this information.
          </li>
        </ul>
        <strong>What are my opt-out rights?</strong><!-- react-text: 34 -->You can stop
        all collection of information by the Application easily by uninstalling the Application. You may use
        the standard uninstall processes as may be available as part of your mobile device or via the mobile
        application marketplace or network. You can also request to opt-out via email, at
        privacy@bringonthegood.com.
        <!-- /react-text --><strong>Data Retention Policy,
          Managing Your Information</strong><!-- react-text: 36 -->We will retain User Provided data for
        as long as you use the Application and for a reasonable time thereafter. We will retain
        Automatically Collected information for up to 24 months&nbsp;and thereafter may store it in
        aggregate. If you’d like us to delete User Provided Data that you have provided via the Application,
        please contact us at privacy@bringonthegood.com and we will respond in a reasonable time. Please
        note that some or all of the User Provided Data may be required in order for the Application to
        function properly.
        <!-- /react-text --><strong>Security</strong>
        <!-- react-text: 38 -->We are concerned about safeguarding the confidentiality of your information.
        We provide physical, electronic, and procedural safeguards to protect information we process and
        maintain. For example, we limit access to this information to authorized employees and contractors
        who need to know that information in order to operate, develop or improve our Application. Please be
        aware that, although we endeavor provide reasonable security for information we process and
        maintain, no security system can prevent all potential security breaches.
        <!-- /react-text --><strong>Changes</strong><!-- react-text: 40 -->This Privacy Policy may be
        updated
        from time to time for any reason.
        <!-- /react-text --><strong>Your Consent</strong>
        <!-- react-text: 42 -->By using the Application, you are consenting to our processing of your
        information as set forth in this Privacy Policy now and as amended by us. "Processing,” means using
        cookies on a computer/hand held device or using or touching information in any way, including, but
        not limited to, collecting, storing, deleting, using, combining and disclosing information, all of
        which activities will take place in the United States. If you reside outside the United States&nbsp;your
        information will be transferred, processed and stored there under United States&nbsp;privacy
        standards.&nbsp;
        <!-- /react-text --><strong>Contact us</strong>
        <!-- react-text: 44 -->If you have any questions regarding privacy while using the Application, or
        have questions about our practices, please contact us via email at&nbsp;privacy@bringonthegood.com
        <!-- /react-text -->
      </div>
    </div>

  </div>
</div>
