<div class="badge">
  <div class="flex-grid-main">
    <div class="col-fourth">
      <div class="badge-container">
        <ul class="badge-filter">
          <li><a href="#">All</a></li>
          <li><a href="#">Received</a></li>
          <li><a href="#">Created</a></li>
          <li><a href="#">Given</a></li>

          <li><button class="_searchBox"><span>Search</span></button></li>
          <li><button class="_searchBox"><span>Upload</span></button></li>
        </ul>
      </div>
    </div>
    <div class="col-three-fourth">
      <div class="badge-container">
        <ul class="badge-filter">
          <li><a >Favorites</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex-grid-main">
    <div class="col-fourth">
      <div class="badge-card-container">
        <div class="badge-card" >

          <div class="badge-card-top" [ngStyle]="">
            <div class="badge-card-name"></div>
            <img [src]="" />
          </div>
          <div class="badge-card-bottom">
            <button class="use" routerLink="/create/badge._id"><span>Use</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-three-fourth">
      <div class="badge-card-container-favorites">
        <div class="badge-card">
          <img src="/assets/img/high-s-chool-logo.png"
               srcset="/assets/img/high-s-chool-logo@2x.png 2x,
             /assets/img/high-s-chool-logo@3x.png 3x"
               class="HighSchoolLogo">
          <div class="badge-card-top">
            <img src="/assets/img/badges/BadgeExample1.jpg" />
          </div>
        </div>
        <div class="badge-card-container-right">
          <h1 class="badge-card-header">Perfect Attendance</h1>
          <p class="badge-card-paragraph">Throughout the School year we know it’s
            not always easy to wake up and learn
            everyday. But, some howy ou did it!</p>
          <div class="reward-claimed-container">
            <!--<h1 class="Reward">Reward</h1>--><h1 class="Claimed">Claimed 10/28/2018</h1>
          </div>
          <p class="badge-card-paragraph">
            You can come to the office anytime you like
            and view your perminent record.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

