<nav-breadcrumb link="/events">Checkout</nav-breadcrumb>

<div class="grid-container">
  <div class="main">
    <div class="event-component-container">
      <form [formGroup]="form" (ngSubmit)="buy()" novalidate>
        <app-checkout-form [parentForm]="form"></app-checkout-form>
        <app-button icon="icon-CreateEventIcon">Pay</app-button>
      </form>
    </div>
  </div>
  <ng-template #loading>Loading...</ng-template>
  <div class="right">
    <comments>Comments</comments>
  </div>
</div>

