.main{
  grid-area: main;
}

.right{
  grid-area: right;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'main main main main right';
  grid-gap: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-areas:
      'main'
      'right'
  }
}

@media (max-width: 610px) {
  .grid-container {
    padding:0;
  }
}

.event-component-container{
  margin-top:28px;
}
