<mat-list class="update-password-header">
  <mat-list-item (click)="showForm = !showForm">
    <svg-icon fill="#6e6f71" width="20" height="20" icon="icon-LockIcon"></svg-icon>
    <mat-card-subtitle class="profile-dropdown">Change Password</mat-card-subtitle>
  </mat-list-item>
</mat-list>

<form [formGroup]="form" class="profile-dropdown" *ngIf="showForm">
  <div>
    <mat-form-field class="password-field profile-dropdown" >
      <input autocomplete="new-password" class="auth-square-input" [ngClass]="{'error': isValid('password')}" matInput placeholder="Password" type="password" formControlName="password" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="password-field profile-dropdown">
      <input autocomplete="new-password" class="auth-square-input" [ngClass]="{'error': isValid('confirmPassword')}" matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword"/>
    </mat-form-field>
    <mat-error *ngIf="form.errors?.mismatchedFields">Passwords do not match</mat-error>
  </div>
  <div class="update-password-button">
    <div class="Profile-Dropdown Rounded-Rectangle-Button" (click)="onSubmit()">
      <span class="Login">Update PW</span>
      <span style="flex: 1 1 auto"></span>
      <img src="/assets/img/arrow-2.png" srcset="/assets/img/arrow-2@2x.png 2x, /assets/img/arrow-2@3x.png 3x"
           class="Arrow2" />
    </div>
  </div>
  <br>
</form>
