div.change-password {
  padding-top: 55px;
}

mat-card-subtitle.profile-dropdown{
  margin-bottom:0px !important;
  margin-left: 10px;
}

.Profile-Dropdown.Rounded-Rectangle-Button {
  margin: 0;
  float: right;
  border: 1.5px solid #383838;
  border-radius: 25px;
}

mat-form-field.profile-dropdown.mat-form-field {
  width: 100%;
}

form.profile-dropdown {
  padding: 0 15px;
  height: 170px;
}

.update-password-header{
  cursor:pointer;
}

.update-password-header:hover, .update-password-header:hover mat-card-subtitle.profile-dropdown{
  text-decoration: underline black solid;
  color:black;
  fill:black;
}
